<!--@layout(/layout/basic/layout.html)-->
<div id="openStudio_info_content">
    <div class="path inner_1440">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/openStudio/open_studio.html">오픈스튜디오</a></li>
            <li><a href="/layout/basic/openStudio/open_studio.html">오픈스튜디오란?</a></li>
        </ol>
    </div>
    
    <div class="openStudio_banner">
        <div class="openStudio_banner_content">
            <div class="openStudio_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="openStudio_text">
                누구나 쉽게 참여 가능한 개방형 방송국 스튜디오와 TV, 인터넷, 모바일, 가전렌탈 상품까지<br>
                다양한 체험이 가능한 새로운 커뮤니티 플레이스, 새로움이 가득한 지역 대표 복합문화공간
            </p>
        </div>
    </div>
    <div class="openStudio_inner inner_1440">
        <div class="titleH tab_titleH">
            <ul class="flex_inner tab_btn">
                <li class="active"><h2><a href="/layout/basic/openStudio/open_studio.html">오픈스튜디오란?</a></h2></li>
                <li><h2><a href="/layout/basic/openStudio/store.html">오시는 길</a></h2></li>
            </ul>
        </div>
        <div class="openStudio_contents flex_inner flex_column">
            <div class="flex_inner flex_column">
                <div class="titleH">
                    <h3>생생한 방송 촬영 현장을 보고,<br>아나운서, PD, 작가 등 방송 직업체험도 할 수 있는 오픈 스튜디오</h3>
                    <p>어린이 방송 직업 체험, 라이브커머스, 문화강좌, 쿠킹클래스, 스튜디오 대관까지 모두 가능한 곳!</p>
                </div>
                <div class="flex_inner img_box">
                    <div class="big_img"><span><img src="/img/openStudio/studio_01.jpg" alt="직업체험 예시 이미지1"></span><span class="img_text">김해 스튜디오 & 스토어</span></div>
                    <div class="small_img"><span><img src="/img/openStudio/studio_02.jpg" alt="직업체험 예시 이미지2"></span><span class="img_text">김해 스튜디오 & 스토어</span></div>
                </div>
            </div>
            <div class="flex_inner flex_column">
                <div class="titleH">
                    <h3>특별한 혜택과 이벤트가 가득한 LG헬로비전 스튜디오&스토어</h3>
                    <p>TV, 인터넷, 모바일, 렌탈을 특별한 혜택과 함께 가입하실 수 있는 곳!</p>
                </div>
                <div class="flex_inner img_box">
                    <div><span><img src="/img/openStudio/studio_07.jpg" alt="LG헬로비전 스튜디오&스토어 예시 이미지1"></span><span class="img_text">원주 스튜디오 & 스토어</span></div>
                    <div><span><img src="/img/openStudio/studio_08.jpg" alt="LG헬로비전 스튜디오&스토어 예시 이미지2"></span><span class="img_text">원주 스튜디오 & 스토어</span></div>
                </div>
            </div>
            <div class="flex_inner flex_column">
                <div class="titleH">
                    <h3>꼭 필요한 생활 가전을 직접 체험해 보고 렌탈 할 수 있는 헬로렌탈존</h3>
                    <p>인터넷가보다 저렴한 가격의 생활가전을 눈으로 보고 만져도 보고! 어디에서도 볼 수 없는 가격으로 만나보세요</p>
                </div>
                <div class="flex_inner img_box">
                    <div class="small_img"><span><img src="/img/openStudio/studio_03.jpg" alt="헬로렌탈존 예시 이미지1"></span><span class="img_text">김해 스튜디오 & 스토어</span></div>
                    <div class="big_img"><span><img src="/img/openStudio/studio_04.jpg" alt="헬로렌탈존 예시 이미지2"></span><span class="img_text">원주 스튜디오 & 스토어</span></div>
                </div>
            </div>
            <div class="flex_inner flex_column">
                <div class="titleH">
                    <h3>우리 집 가계통신비 컨설턴트</h3>
                    <p>현재 통신비와 비교, 분석해드리고 전문가가 친절히 상담해 드립니다</p>
                </div>
                <div class="flex_inner img_box">
                    <div><span><img src="/img/openStudio/studio_05.jpg" alt="컨설턴트존 예시 이미지1"></span><span class="img_text">김해 스튜디오 & 스토어</span></div>
                    <div><span><img src="/img/openStudio/studio_06.jpg" alt="컨설턴트존 예시 이미지2"></span><span class="img_text">원주 스튜디오 & 스토어</span></div>
                </div>
            </div>
        </div>
    </div>
</div>