<!--@layout(/layout/basic/layout.html)-->
<div id="openStudio_info_content">
    <div class="path inner_1440">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/company/vision.html">회사소개</a></li>
        </ol>
    </div>
    
    <div class="company_banner">
        <div class="company_banner_content">
            <div class="company_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="company_text">
                LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다 <br>
                고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다
            </p>
        </div>
    </div>
    <div class="company_inner inner_1440">
        <div class="titleH tab_titleH">
            <ul class="flex_inner tab_btn">
                <li class="active"><h2><a href="/layout/basic/openStudio/open_studio.html">오픈스튜디오란?</a></h2></li>
                <li><h2><a href="/layout/basic/openStudio/store.html">오시는 길</a></h2></li>
            </ul>
        </div>
        <div class="map_contents"></div>
    </div>
</div>