<!--@layout(/layout/basic/layout.html)-->
<div id="openStudio_store_content">
    <div class="path inner_1440">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/openStudio/open_studio.html">오픈스튜디오</a></li>
            <li><a href="/layout/basic/openStudio/store.html">오시는 길</a></li>
        </ol>
    </div>
    
    <div class="openStudio_banner">
        <div class="openStudio_banner_content">
            <div class="openStudio_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="openStudio_text">
                누구나 쉽게 참여 가능한 개방형 방송국 스튜디오와 TV, 인터넷, 모바일, 가전렌탈 상품까지<br>
                다양한 체험이 가능한 새로운 커뮤니티 플레이스, 새로움이 가득한 지역 대표 복합문화공간
            </p>
        </div>
    </div>
    <div class="openStudio_inner inner_1440">
        <ul class="nav tab_btn_box mx-auto mb-5">
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/layout/basic/openStudio/open_studio.html">오픈스튜디오란?</a></li>
            <li class="nav-item"><a class="nav-link active" href="/layout/basic/openStudio/store.html">오시는 길</a></li>
        </ul>
        <div class="tab_container tab_container_open">
            <ul class="tab_btn">
                <li class="active" data-tab="tab_openStudio_1">김해</li>
                <li data-tab="tab_openStudio_2">원주</li>
                <li data-tab="tab_openStudio_3">목포</li>
            </ul>
            <ul class="tab_content">
                <li id="tab_openStudio_1" class="active flex_inner">
                    <!-- 지도를 표시할 div 입니다 -->
                    <div id="openStudio_1" style="width:50%;height:480px;"></div>
                    <div class="map_info">
                        <h3 class="store_name">LG헬로비전 가야방송 스튜디오&스토어</h3>
                        <ul>
                            <li><span class="info_title">주소</span><span>경남 김해시 내외중앙로 55</span></li>
                            <li><span class="info_title">운영시간</span><span>월요일 ~ 토요일<br>오전 09:00 ~ 오후 07:00<br>(일요일 및 공휴일 휴무)</span></li>
                            <li><span class="info_title">전화번호</span><span>1855-1771</span></li>
                            <li>
                                <ul class="sns">
                                    <li><span class="sns_icon"><a href="https://pf.kakao.com/_IxoETb"><img src="/img/icon/snsIcon0.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 카카오톡 채널 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://blog.naver.com/lghellostudio"><img src="/img/icon/snsIcon1.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 블로그 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://www.instagram.com/lghellovision_ss/"><img src="/img/icon/snsIcon2.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 인스타그램 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://youtube.com/@hellogh_openstudio?si=5A9dkdF04clp9zVO"><img src="/img/icon/snsIcon3.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 유튜브 바로가기"></a></span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="tab_openStudio_2" class="flex_inner">
                    <!-- 지도를 표시할 div 입니다 -->
                    <div id="openStudio_2" style="width:50%;height:480px;"></div>
                    <div class="map_info">
                        <h3 class="store_name">LG헬로비전 영서방송 스튜디오&스토어</h3>
                        <ul>
                            <li><span class="info_title">주소</span><span>강원 원주시 시청로 102</span></li>
                            <li><span class="info_title">운영시간</span><span>월요일 ~ 토요일<br>오전 10:00 ~ 오후 08:00<br>(일요일 및 공휴일 휴무)</span></li>
                            <li><span class="info_title">전화번호</span><span>1855-1095</span></li>
                            <li>
                                <ul class="sns">
                                    <li><span class="sns_icon"><a href="https://pf.kakao.com/_IxoETb"><img src="/img/icon/snsIcon0.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 카카오톡 채널 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://blog.naver.com/lghellostudio"><img src="/img/icon/snsIcon1.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 블로그 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://www.instagram.com/lghellovision_ss/"><img src="/img/icon/snsIcon2.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 인스타그램 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://youtube.com/@hellogh_openstudio?si=5A9dkdF04clp9zVO"><img src="/img/icon/snsIcon3.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 유튜브 바로가기"></a></span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="tab_openStudio_3" class="flex_inner">
                    <!-- 지도를 표시할 div 입니다 -->
                    <div id="openStudio_3" style="width:50%;height:480px;"></div>
                    <div class="map_info">
                        <h3 class="store_name">LG헬로비전 호남방송 스튜디오&스토어</h3>
                        <ul>
                            <li><span class="info_title">주소</span><span>전남 무안군 삼향읍 남악3로 82번길 15</span></li>
                            <li><span class="info_title">운영시간</span><span>월요일 ~ 토요일<br>오전 10:00 ~ 오후 08:00<br>(일요일 및 공휴일 휴무)</span></li>
                            <li><span class="info_title">전화번호</span><span>1855-1018</span></li>
                            <li>
                                <ul class="sns">
                                    <li><span class="sns_icon"><a href="https://pf.kakao.com/_IxoETb"><img src="/img/icon/snsIcon0.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 카카오톡 채널 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://blog.naver.com/lghellostudio"><img src="/img/icon/snsIcon1.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 블로그 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://www.instagram.com/lghellovision_ss/"><img src="/img/icon/snsIcon2.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 인스타그램 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://youtube.com/@hellogh_openstudio?si=5A9dkdF04clp9zVO"><img src="/img/icon/snsIcon3.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 유튜브 바로가기"></a></span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>