<!--@layout(/layout/basic/layout.html)-->
<div id="openStudio_store_content">
    <div class="path inner_1440">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/company/vision.html">회사소개</a></li>
        </ol>
    </div>
    
    <div class="company_banner">
        <div class="company_banner_content">
            <div class="company_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="company_text">
                LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다 <br>
                고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다
            </p>
        </div>
    </div>
    <div class="company_inner inner_1440">
        <div class="tab_titleH">
            <ul class="flex_inner tab_btn">
                <li><h2><a href="/layout/basic/openStudio/open_studio.html">오픈스튜디오란?</a></h2></li>
                <li class="active"><h2><a href="/layout/basic/openStudio/store.html">오시는 길</a></h2></li>
            </ul>
        </div>
        <div class="tab_container tab_container_open">
            <ul class="tab_btn">
                <li class="active" data-tab="tab_openStudio_1">김해</li>
                <li data-tab="tab_openStudio_2">원주</li>
                <li data-tab="tab_openStudio_3">목포</li>
            </ul>
            <ul class="tab_content">
                <li id="tab_openStudio_1" class="active flex_inner">
                    <!-- 지도를 표시할 div 입니다 -->
                    <div id="openStudio_1" style="width:50%;height:480px;"></div>
                    <div class="map_info">
                        <h3 class="store_name">LG헬로비전 가야방송 스튜디오&스토어</h3>
                        <ul>
                            <li><span class="info_title">주소</span><span>경남 김해시 내외중앙로 55</span></li>
                            <li><span class="info_title">운영시간</span><span>월요일 ~ 토요일<br>오전 09:00 ~ 오후 07:00<br>(일요일 및 공휴일 휴무)</span></li>
                            <li><span class="info_title">전화번호</span><span>1855-1771</span></li>
                            <li>
                                <ul class="sns">
                                    <li><span class="sns_icon"><a href="https://pf.kakao.com/_IxoETb"><img src="/img/icon/snsIcon0.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 카카오톡 채널 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://blog.naver.com/lghellostudio"><img src="/img/icon/snsIcon1.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 블로그 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://www.instagram.com/lghellovision_ss/"><img src="/img/icon/snsIcon2.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 인스타그램 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://youtube.com/@hellogh_openstudio?si=5A9dkdF04clp9zVO"><img src="/img/icon/snsIcon3.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 유튜브 바로가기"></a></span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="tab_openStudio_2" class="flex_inner">
                    <!-- 지도를 표시할 div 입니다 -->
                    <div id="openStudio_2" style="width:50%;height:480px;"></div>
                    <div class="map_info">
                        <h3 class="store_name">LG헬로비전 영서방송 스튜디오&스토어</h3>
                        <ul>
                            <li><span class="info_title">주소</span><span>강원 원주시 시청로 102</span></li>
                            <li><span class="info_title">운영시간</span><span>월요일 ~ 토요일<br>오전 10:00 ~ 오후 08:00<br>(일요일 및 공휴일 휴무)</span></li>
                            <li><span class="info_title">전화번호</span><span>1855-1095</span></li>
                            <li>
                                <ul class="sns">
                                    <li><span class="sns_icon"><a href="https://pf.kakao.com/_IxoETb"><img src="/img/icon/snsIcon0.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 카카오톡 채널 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://blog.naver.com/lghellostudio"><img src="/img/icon/snsIcon1.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 블로그 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://www.instagram.com/lghellovision_ss/"><img src="/img/icon/snsIcon2.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 인스타그램 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://youtube.com/@hellogh_openstudio?si=5A9dkdF04clp9zVO"><img src="/img/icon/snsIcon3.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 유튜브 바로가기"></a></span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="tab_openStudio_3" class="flex_inner">
                    <!-- 지도를 표시할 div 입니다 -->
                    <div id="openStudio_3" style="width:50%;height:480px;"></div>
                    <div class="map_info">
                        <h3 class="store_name">LG헬로비전 호남방송 스튜디오&스토어</h3>
                        <ul>
                            <li><span class="info_title">주소</span><span>전남 무안군 삼향읍 남악3로 82번길 15</span></li>
                            <li><span class="info_title">운영시간</span><span>월요일 ~ 토요일<br>오전 10:00 ~ 오후 08:00<br>(일요일 및 공휴일 휴무)</span></li>
                            <li><span class="info_title">전화번호</span><span>1855-1018</span></li>
                            <li>
                                <ul class="sns">
                                    <li><span class="sns_icon"><a href="https://pf.kakao.com/_IxoETb"><img src="/img/icon/snsIcon0.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 카카오톡 채널 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://blog.naver.com/lghellostudio"><img src="/img/icon/snsIcon1.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 블로그 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://www.instagram.com/lghellovision_ss/"><img src="/img/icon/snsIcon2.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 인스타그램 바로가기"></a></span></li>
                                    <li><span class="sns_icon"><a href="https://youtube.com/@hellogh_openstudio?si=5A9dkdF04clp9zVO"><img src="/img/icon/snsIcon3.png" alt="LG헬로비전 가야방송 스튜디오&스토어 공식 유튜브 바로가기"></a></span></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>