<!--@layout(/layout/basic/layout.html)-->
<main class="company_info_content">
    <div class="path inner_1440">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/company/vision.html">회사소개</a></li>
        </ol>
    </div>
    
    <article class="company_banner">
        <div class="company_banner_content">
            <div class="company_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="company_text">
                LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다 <br>
                고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다
            </p>
        </div>
    </article>
    <article class="company_inner inner_1440">
        <ul class="nav tab_btn_box mx-auto mb-5">
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/layout/basic/company/vision.html">비전 및 철학</a></li>
            <li class="nav-item"><a class="nav-link active" href="/layout/basic/company/ci.html">CI 규정</a></li>
            <li class="nav-item"><a class="nav-link" href="/layout/basic/company/history.html">사업 연혁</a></li>
            <li class="nav-item"><a class="nav-link" href="/layout/basic/company/map.html">오시는 길</a></li>
            <li class="nav-item"><a class="nav-link" href="/layout/basic/company/youtube.html">헬로티비</a></li>
        </ul>
        <div id="ci">
            <div class="title_box">
                <h3>CI 규정</h3>
                <p>
                    LOGO는 LG HelloVision의 공식적인 명칭을 표시하기 위해 심벌마크와 로고타이프를 조합한 형태로 반드시 공간규정에 따른 충분한 Clear Space를 확보해야 합니다<br>
                    <strong class="point">
                        어떤 경우라도 LOGO를 임의로 변형하거나 재조합하여 사용할 수 없으며, 심벌마크 단독 사용은 허용되지 않습니다
                    </strong>
                </p>
            </div>
            <div class="ci_content_box">
                <div class="ci_content ci_content2">
                    <div class="ci_content_img"><img src="/img/company/img_ci_content_01.jpg" alt="CI 규정"></div>
                </div>
                <hr class="gray_line">
                <div class="ci_content ci_content1 flex_center">
                    <div class="title_box">
                        <h4>심벌마크의 의미</h4>
                        <p>
                            세계, 미래, 젊음, 인간, 기술의 5가지 개념과 정서를 형상화하였습니다<br>
                            L과 G를 둥근 원 속에 형상화하여 인간이 그룹 경영의 중심에 있음을 상징하고,<br>
                            세계 어디서나 고객과 친밀한 유대 관계로 고객 만족을 위해 최선을 다하는 LG인의 결의를 나타내고 있습니다
                        </p>
                    </div>
                    <div class="ci_content_img"><img src="/img/company/img_ci_content_02.jpg" alt="심벌마크와 로고"></div>
                </div>
                <hr class="gray_line">
                <div class="ci_content ci_content3">
                    <div class="title_box">
                        <h4>컬러시스템</h4>
                        <p>LG RED와 LG GRAY를 소개합니다</p>
                    </div>
                    <div class="ci_content_img"><img src="/img/company/img_ci_content_03.jpg" alt="CI 규정"></div>
                </div>
                <div class="ci_content ci_content4">
                    <a href="https://drive.google.com/file/d/1VzHInGt4JKYoxi5sQztUCRUG8XcXdWSf/view?usp=sharing" class="btn" title="CI 다운로드">CI 다운로드</a>
                    <a href="https://drive.google.com/file/d/1sDpBvrUTqLUJWc21m_QDcdWOkyHrvBsP/view?usp=sharing" class="btn" title="회사소개서 다운로드">회사소개서 다운로드</a>
                </div>
            </div>
        </div>
    </article>
</main>