<!--@layout(/layout/basic/layout.html)-->
<div id="company_info_content">
    <div class="path inner">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/company/vision.html">회사소개</a></li>
        </ol>
    </div>
    
    <div class="company_banner">
        <div class="company_banner_content">
            <div class="company_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="company_text">
                LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다 <br>
                고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다
            </p>
        </div>
    </div>
    <div class="company_inner inner">
        <div class="titleH tab_titleH">
            <ul class="flex_inner tab_btn">
                <li><h2><a href="/layout/basic/company/vision.html">비전 및 철학</a></h2></li>
                <li class="active"><h2><a href="/layout/basic/company/ci.html">CI</a></h2></li>
                <li><h2><a href="/layout/basic/company/history.html">연혁</a></h2></li>
                <li><h2><a href="/layout/basic/company/map.html">오시는 길</a></h2></li>
                <li><h2><a href="/layout/basic/company/youtube.html">헬로티비</a></h2></li>
            </ul>
        </div>
        <div id="ci">
            <div class="titleH">
                <h3>CI</h3>
                <span>
                    <p>
                        LOGO는 LG HelloVision의 공식적인 명칭을 표시하기 위해 심벌마크와 로고타이프를 조합한 형태로
                    </p>
                    <strong>
                        <span class="point">
                            어떤 경우라도 LOGO를 임의로 변형하거나 재조합하여 사용할 수 없습니다.<br>
                            심벌마크 단독 사용은 허용되지 않습니다.
                        </span>
                    </strong>
                </span>
    
            </div>
            <div class="ci_content_box">
                <div class="ci_content ci_content1">
                    <div class="ci_content_title">
                        <h4>심벌마크의 의미</h4>
                        <p>
                            세계, 미래, 젊음, 인간, 기술의 5가지 개념과 정서를 형상화하였습니다<br>
                            L과 G를 둥근 원 속에 형상화하여 인간이 그룹 경영의 중심에 있음을 상징하고,<br>
                            세계 어디서나 고객과 친밀한 유대 관계로 고객 만족을 위해 최선을 다하는 LG인의 결의를 나타내고 있습니다
                        </p>
                    </div>
                    <div class="ci_content_img"><img src="/img/company/img_ci_content_02.jpg" alt="심벌마크와 로고"></div>
                </div>
                <div class="ci_content_flex">
                    <div class="ci_content ci_content2">
                        <div class="ci_content_title">
                            <h4>CI 규정</h4>
                            <p>
                                LOGO는 반드시 공간규정에 따른 충분한 Clear Space를 확보해야 합니다
                            </p>
                        </div>
                        <div class="ci_content_img"><img src="/img/company/img_ci_content_01.jpg" alt="CI 규정"></div>
                    </div>
                    <div class="ci_content ci_content3">
                        <div class="ci_content_title">
                            <h4>컬러시스템</h4>
                            <p>LG RED와 LG GRAY를 소개합니다</p>
                        </div>
                        <div class="ci_content_img"><img src="/img/company/img_ci_content_03.jpg" alt="CI 규정"></div>
                    </div>
                </div>
                <div class="ci_content ci_content4">
                    <a href="https://drive.google.com/file/d/1VzHInGt4JKYoxi5sQztUCRUG8XcXdWSf/view?usp=sharing" class="btn" title="CI 다운로드">CI 다운로드</a>
                    <a href="https://drive.google.com/file/d/1sDpBvrUTqLUJWc21m_QDcdWOkyHrvBsP/view?usp=sharing" class="btn" title="회사소개서 다운로드">회사소개서 다운로드</a>
                </div>
            </div>
        </div>
        <div id="slogan">
            <div class="titleH">
                <h3>SLOGAN</h3>
            </div>
            <div class="slogan_content flex_inner">
                <div class="slogan_img"><img src="/img/company/slogan.jpg" alt="일상을 편리하게 지역을 가치있게"></div>
                <ul class="slogan_color_box">
                    <li class="flex_inner">
                        <div class="slogan_color slogan_color1"></div>
                        <div>
                            <span class="slogan_color_name">Gray</span>
                            <span>
                                C 44 M 34 Y 22 K 77<br>
                                R 83 G 86 B 90<br>
                                Pantone Cool Gray 11C
                            </span>
                        </div>
                    </li>
                    <li class="flex_inner">
                        <div class="slogan_color slogan_color2"></div>
                        <div>
                            <span class="slogan_color_name">Red</span>
                            <span>
                                C 0 M 100 Y 64 K 0<br>
                                R 237 G 23 B 77<br>
                                Pantone 199C
                            </span>
                        </div>
                    </li>
                    <li class="flex_inner">
                        <div class="slogan_color slogan_color3"></div>
                        <div>
                            <span class="slogan_color_name">Lime</span>
                            <span>
                                C 30 M 0 Y 100 K 0<br>
                                R 191 G 225 B 14<br>
                                Pantone 382C
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- <div module="mall_company">
</div>
    // @css(/css/module/mall/company.css) //
    <div class="ec-base-table" module="Layout_footer">
        <table border="1">
            <caption>회사소개</caption>
            <colgroup>
                <col style="width:180px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">상점명</th>
                    <td>{$mall_name}</td>
                </tr>
                <tr>
                    <th scope="row">대표이사</th>
                    <td><a href="mailto:{$email}">{$president_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">대표전화</th>
                    <td><a href="tel:{$phone}">{$phone}</a></td>
                </tr>
                <tr>
                    <th scope="row">주소</th>
                    <td>{$mall_addr1}<br />{$mall_addr2}</td>
                </tr>
                <tr>
                    <th scope="row">사업자등록번호</th>
                    <td>{$company_regno}</td>
                </tr>
                <tr>
                    <th scope="row">통신판매업신고</th>
                    <td>{$network_regno}</td>
                </tr>
                <tr class="{$cpo_email|display}">
                    <th scope="row">개인정보 관리책임</th>
                    <td><a href="mailto:{$cpo_email}">{$cpo_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">호스팅제공</th>
                    <td>카페24(주)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>{$info}</div>

    <div class="{$map_display|display}">
        <h3>위치</h3>
        <p>{$map_image}</p>
    </div>
</div> -->