<!--@layout(/layout/basic/layout.html)-->
<div class="company_info_content">
    <div class="path inner_1440">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/company/vision.html">회사소개</a></li>
        </ol>
    </div>
    
    <div class="company_banner">
        <div class="company_banner_content">
            <div class="company_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="company_text">
                LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다 <br>
                고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다
            </p>
        </div>
    </div>
    <div class="company_inner inner_1440">
        <div class="titleH tab_titleH">
            <ul class="flex_inner tab_btn">
                <li><h2><a href="/layout/basic/company/vision.html">비전 및 철학</a></h2></li>
                <li><h2><a href="/layout/basic/company/ci.html">CI</a></h2></li>
                <li class="active"><h2><a href="/layout/basic/company/history.html">연혁</a></h2></li>
                <li><h2><a href="/layout/basic/company/map.html">오시는 길</a></h2></li>
                <li><h2><a href="/layout/basic/company/youtube.html">헬로티비</a></h2></li>
            </ul>
        </div>
        <div id="company_history">
            <div class="titleH white">
                <h3>HISTORY</h3>
                <p>
                    고객의 편리하고 다채로운 삶을 위해 2000년부터 시작된 노력,<br>
                    LG HelloVision의 지속적인 성장과 발자취를 소개합니다!
                </p>
            </div>
            <div class="swiper mySwiper company_history_swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="flex_inner">
                            <h3 class="history_year">2023</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">지속가능경영보고서 첫 발간</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">오픈 스튜디오 3호점 개소 (목포무안)</span>
                                </li>
                                <li>
                                    <span class="history_month">10</span>
                                    <span class="history_text">안전보건경영시스템 국제표준 ‘ISO 45001’ 인증 획득</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">케이블TV '실버 케어' 서비스 지원</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">DX 데이터스쿨 개소 및 운영</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">&lt;오리지널 로컬 테이스트&gt; 1호 상품 '땅끝마을 해남김치' 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">지역채널 커머스 &lt;제철장터&gt; 앱 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">헬로모바일 알뜰폰 5G 중간요금제 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">통합 홈페이지 개편</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2022</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">홈 보안 시장 진출</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">오픈 스튜디오 2호점 개소 (강원도 원주)</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">지역채널 오리지널 콘서트 &lt;2022 헬로콘서트 좋은날&gt; 진행</span>
                                </li>
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">직영몰 '24시간 번개설치' 서비스 지원</span>
                                </li>
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">헬로tv '고객중심' UI·UX전면 개편</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">제8회 전국동시지방선거 선거방송 체제 돌입</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">케이블TV 양방향 커머스 '제철장터' 론칭</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">헬로모바일, '모토로라' 단독 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">헬로렌탈 다이렉트몰 '바로구매' 서비스 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">헬로tv 뉴스 전면 개편</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2021</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">10</span>
                                    <span class="history_text">스마트팜 교육 솔루션 사업 본격화</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">지역채널 콘텐츠 투자 확대, ‘로컬 필수채널’ 추진</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">헬로모바일, ‘편의점 유심 배달 서비스’ 개시</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">지역채널 AI 아나운서 도입</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">라이브 커머스 ‘Hello LIVE’ 진행</span>
                                </li>
                                <li>
                                    <span class="history_month">01</span>
                                    <span class="history_text">신규 셋톱박스 ‘헬로tv UHD2’ 출시</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2020</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">08</span>
                                    <span class="history_text">헬로tv 콘텐츠 중심 UI/UX 전면 개편</span>
                                </li>
                                <li>
                                    <span class="history_month">08</span>
                                    <span class="history_text">헬로모바일, 비대면 '셀프 개통' 서비스 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">'클라우드 서비스 보안인증(CSAP)' 획득</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">지역채널 '제2 개국' 선언, 오리지널 TV프로그램 강화</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">헬로tv 전체 실시간 채널 'FULL HD' 전환</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">헬로tv 'U+tv 아이들나라' 서비스 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">기가인터넷 커버리지 99%로 확대</span>
                                </li>
                                <li>
                                    <span class="history_month">01</span>
                                    <span class="history_text">헬로모바일, LG U+망 사업 개시</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2019</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">12</span>
                                    <span class="history_text">LG헬로비전 출범, 송구영 대표이사 선임</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">종합재난관리시스템, 2019 안전문화대상 최우수상 수상</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">케이블TV 최초 '스마트 수어방송' 상용화</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">아파트 중심 전기차 충전사업 진출</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2018</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">08</span>
                                    <span class="history_text">어린이 전용 '헬로 키즈TV' 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">국내 최초 VR리조트 '헬로 VR어드벤처' 오픈</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">ICT 융합 지역형 CSV 플랫폼 '꿈마을 연구소' 출범</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">스마트 에너지 사업 '파워클라우드' 진출</span>
                                </li>
                                <li>
                                    <span class="history_month">01</span>
                                    <span class="history_text">차세대 케이블TV 표준 '알래스카 UI' 론칭</span>
                                </li>
                                <li>
                                    <span class="history_month">01</span>
                                    <span class="history_text">회사소개 홈페이지 신규 오픈</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2017</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">10</span>
                                    <span class="history_text">Next Generation TV '뷰잉' 론칭</span>
                                </li>
                                <li>
                                    <span class="history_month">10</span>
                                    <span class="history_text">CJ헬로 사명 변경</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">헬로 모바일 보편 유심요금제 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">08</span>
                                    <span class="history_text">AI기반 셋톱 '헬로 tv RED' 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">헬로 모바일, 2017 MVNOs World Congress 최고상 수상</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">'헬로CCTV' 출시, 영상보안 시장 본격 진출</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">변동식 단독대표 체제 선언</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">뉴미디어 'TV스틱' 사업 본격 시동</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2016</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">12</span>
                                    <span class="history_text">경남지역 케이블방송사' 하나방송' 인수 선언</span>
                                </li>
                                <li>
                                    <span class="history_month">12</span>
                                    <span class="history_text">전국 23개 지역서 사회공헌캠프 출범</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">신사옥 '드림타워'로 본사 확장 이전</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">2016 '헬로테크포럼' 개최, 협력사 동반성장 선언</span>
                                </li>
                                <li>
                                    <span class="history_month">08</span>
                                    <span class="history_text">변동식 공동대표 선임 (대표이사: 김진석, 변동식)</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">베트남 유료방송 진출, SCTV에 기술수출 계약</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">헬로tv 5분할 '멀티뷰' 서비스 론칭</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2015</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">헬로 모바일, SKT-KT 복수망 사업 본격화</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">모바일 헬로tv 어플리케이션 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">CJ헬로비전-한시련-방통위-시청자미디어재단 '시각장애인 방송 복지 위한 시청평등선언'</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">티빙스틱 2.0 선언 및 티빙스틱 리모컨 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">헬로tv 국내 최초 클라우드 방송 시작</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2014</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">세계 최초 시각장애 방송 안내 서비스 '이어드림' 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">10</span>
                                    <span class="history_text">CJ헬로비전 여가친화기업 인증 (문화체육관광부) 2014 ITU 전권회의 UHD 전시사업자 참여<br>독거노인 복지 서비스 헬로안부알리미 출시 스마트홈 CCTV 헬로캠 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">08</span>
                                    <span class="history_text">동글형 OTT 서비스 '티빙스틱' 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">UHD 다채널 전송 기술 '4096QAM' 테스트 성공</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">티빙, 구글 크롬캐스트와 미디어 콘텐츠 파트너 제휴<br>한국품질경영학회, 품질한국을 빛낼 50대 기업 선정</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">UHD 방송 상용 서비스 시작</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">헬로tv 스마트 PVR 서비스 출시 헬로tv 지역 콘텐츠 VOD 서비스 '우리동네사랑방' 런칭</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2013</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">12</span>
                                    <span class="history_text">연매출 1조 돌파 (1조 1602억 원) 스마트 셋톱박스 '헬로tv 스마트' 출시<br>여성가족부 '2013 가족친화우수기업 인증'</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">전북방송 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">10</span>
                                    <span class="history_text">영서방송 호남방송 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">세계 최초 UHD 시범방송 서비스 시작 국내 최초 기가 와이파이 상용화 서비스 시작<br>1인 미디어 방송 서비스 '티빙쇼' 베타 런칭</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">헬로(hello) BI 통합 기업형 클라우드 서비스 '비전클라우드' 출시 나라방송</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">세계 최초 티빙 Full HD N스크린 서비스 시작 국내 최초 헬로tv Full HD VOD 서비스 시작</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">국내 최초 스마트 케이블TV 서비스 'TV앨범' 런칭</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2012</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">GOD(Game On Demand) 서비스 X-Game 출시<br>대한민국 증권거래소 상장(IPO) 방송통신위원회 주관 2012 방송평가 MSO 1위</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">티빙 'New Media Awards' Standard in Excellence 수상<br>(미국 New Media Institute 주관)</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">티빙 'Inforvision Awards Asia' Service of the Year 수상<br>(마케팅리서치社 Informa 주관)</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">티빙 'Interactive Media Awards' Best in Class 수상<br>(국제방송전시회 IBC 주관)</span>
                                </li>
                                <li>
                                    <span class="history_month">01</span>
                                    <span class="history_text">이동 통신서비스 헬로모바일 출시</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2011</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">티빙 'Connected World TV Awards' Online Video Service of the year'수상<br>(국제방송전시회 IBC 주관) 방송통신위원회 주관 2011 방송평가 MSO 1위</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">국내 최초 기가인터넷 서비스 상용화</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">티빙 대한민국 멀티미디어기술대상 방송통신위원장상 수상</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">신라방송 인수</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2010</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">국내 최초 N스크린 서비스 티빙 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">영동방송 아라방송 동구방송 수성방송 인수 (온미디어 CJ계열 편입)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2009</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">기가 인터넷 선도 시범사업자 선정</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">업계 최초 Wi-Fi 인터넷전화 출시</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2008</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">12</span>
                                    <span class="history_text">세계 최초 하이브리드 케이블 셋톱박스 개발</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">국내 최초 HD PVR 서비스 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">10</span>
                                    <span class="history_text">모두방송 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">CJ헬로비전 사명 변경</span>
                                </li>
                                <li>
                                    <span class="history_month">01</span>
                                    <span class="history_text">인터넷전화 헬로 전화 출시</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2007</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">부산 중앙방송 금정방송 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">충남방송 인수</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2006</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">기간통신 사업자 선정 (초고속인터넷 사업 시작)</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">영남방송 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">드림씨티방송 (부천김포, 은평) 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">헬로D 아시아 최초 국제 인터렉티브 TV 서비스 Emmy Award 수상 (미국 L.A.)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2005</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">12</span>
                                    <span class="history_text">산업자원부장관 동탑산업훈장 수훈</span>
                                </li>
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">단지넷 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">HFC 기반 초고속인터넷서비스 시작, 세계 최초 오픈 케이블 디지털방송 상용화<br>(헬로D 서비스 시작)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2004</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">북인천방송 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">국내 최초 HFC 기반 원격 검침 서비스 실시</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2003</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">01</span>
                                    <span class="history_text">해운대기장방송 인수</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2002</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">CJ CableNet 출범 (복수종합유선방송사업 시작)</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">중부산방송 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">가야방송 인수</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2000</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">경남방송 마산방송 인수</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">양천방송 인수 (CJ그룹 종합유선방송사업 시작)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
    
    <!-- <div module="mall_company">
</div>
    // @css(/css/module/mall/company.css) //
    <div class="ec-base-table" module="Layout_footer">
        <table border="1">
            <caption>회사소개</caption>
            <colgroup>
                <col style="width:180px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">상점명</th>
                    <td>{$mall_name}</td>
                </tr>
                <tr>
                    <th scope="row">대표이사</th>
                    <td><a href="mailto:{$email}">{$president_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">대표전화</th>
                    <td><a href="tel:{$phone}">{$phone}</a></td>
                </tr>
                <tr>
                    <th scope="row">주소</th>
                    <td>{$mall_addr1}<br />{$mall_addr2}</td>
                </tr>
                <tr>
                    <th scope="row">사업자등록번호</th>
                    <td>{$company_regno}</td>
                </tr>
                <tr>
                    <th scope="row">통신판매업신고</th>
                    <td>{$network_regno}</td>
                </tr>
                <tr class="{$cpo_email|display}">
                    <th scope="row">개인정보 관리책임</th>
                    <td><a href="mailto:{$cpo_email}">{$cpo_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">호스팅제공</th>
                    <td>카페24(주)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>{$info}</div>

    <div class="{$map_display|display}">
        <h3>위치</h3>
        <p>{$map_image}</p>
    </div>
</div> -->