<!--@layout(/layout/basic/layout.html)-->
<div class="company_info_content">
    <div class="path inner_1440">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/company/vision.html">회사소개</a></li>
        </ol>
    </div>
    
    <div class="company_banner">
        <div class="company_banner_content">
            <div class="company_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="company_text">
                LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다 <br>
                고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다
            </p>
        </div>
    </div>
    <div class="company_inner inner_1440">
        <ul class="nav tab_btn_box mx-auto mb-5">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/layout/basic/company/vision.html">비전 및 철학</a></li>
            <li class="nav-item"><a class="nav-link" href="/layout/basic/company/ci.html">CI 규정</a></li>
            <li class="nav-item"><a class="nav-link" href="/layout/basic/company/history.html">사업 연혁</a></li>
            <li class="nav-item"><a class="nav-link" href="/layout/basic/company/map.html">오시는 길</a></li>
            <li class="nav-item"><a class="nav-link" href="/layout/basic/company/youtube.html">헬로티비</a></li>
        </ul>
        <div id="vision_content">
            <div class="titleH">
                <h3>VISION</h3>
                <div>
                    <strong>
                        고객의 홈 라이프를 편리하게 만들고,<br>
                        지역과 다채롭게 연결하는 로컬 크리에이터
                    </strong>
                    <p>
                        LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다.<br>
                        고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다.
                    </p>
                </div>
            </div>
            <div class="vision_bg">
                <ul>
                    <li class="vision1"><span class="vision_title">고객의 홈 라이프</span><span class="vision_text">고객이 집에서 영위하는<br>방송·통신 기반 모든 활동에서의<br>고객 경험을 의미합니다.</span></li>
                    <li class="vision2"><span class="vision_title">편리하게 만들고</span><span class="vision_text">방송·통신 서비스를<br>고객 경험 혁신의 관점에서<br>제공하고 개선하여<br>편리함을 추구합니다.</span></li>
                    <li class="vision3"><span class="vision_title">지역과 다채롭게 연결하는</span><span class="vision_text">사람 간의 연결과 소통은 방송·통신<br>사업의 근간입니다. LG헬로비전은<br>이 개념을 지역으로 확장하고 사람과<br>지역이 혜택을 함께 누릴 수 있도록<br>다양한 가치들을 연결합니다.</span></li>
                    <li class="vision4"><span class="vision_title">로컬 크리에이터</span><span class="vision_text">기존 사업 영역에 안주하지 않고<br>로컬을 기반으로 고객을 만족시킬 수<br>있는 아이템을 찾아 LG헬로비전이<br>잘 할 수 있는 영역이라면 두려워하지<br>않고 창조적으로 도전하겠습니다.</span></li>
                </ul>
            </div>
        </div>
        <hr class="black_line">
        <div id="lg_way_content">
            <div class="titleH">
                <h3>LG WAY</h3>
                <div>
                    <strong>
                        LG 고유의 경영철학이자, LG 전 임직원이 지키고 실천해야 할 사고와 행동의 기반
                    </strong>
                    <p>
                        LG Way는 경영이념인 ‘고객을 위한 가치창조’와 ‘인간존중의 경영’을 LG의 행동방식인 ‘정도경영’으로 실천함으로써<br>
                        LG의 비전인 ‘일등LG’를 달성하자는 것입니다
                    </p>
                </div>
            </div>
            <div class="lg_way_bg">
                <ul>
                    <li class="lg_way1"><span>LG의 궁극적인 지향점으로<br>시장에서 인정받으며,<br>시장을 리드하는<br>선도기업이 되는 것</span></li>
                    <li class="lg_way2"><span>윤리경영을 기반으로 꾸준히<br>실력을 배양해 정정당당하게<br>승부하는 LG만의 행동방식</span></li>
                    <li class="lg_way3"><span>기업의 존립근거이자<br>회사운영의 원칙</span></li>
                </ul>
            </div>
        </div>
        <hr class="black_line">
        <div id="slogan">
            <div class="titleH">
                <h3>SLOGAN</h3>
            </div>
            <div class="slogan_content flex_inner">
                <div class="slogan_img"><img src="/img/company/slogan.jpg" alt="일상을 편리하게 지역을 가치있게"></div>
                <ul class="slogan_color_box">
                    <li class="flex_inner">
                        <div class="slogan_color slogan_color1"></div>
                        <div>
                            <span class="slogan_color_name">Gray</span>
                            <span>
                                C 44 M 34 Y 22 K 77<br>
                                R 83 G 86 B 90<br>
                                Pantone Cool Gray 11C
                            </span>
                        </div>
                    </li>
                    <li class="flex_inner">
                        <div class="slogan_color slogan_color2"></div>
                        <div>
                            <span class="slogan_color_name">Red</span>
                            <span>
                                C 0 M 100 Y 64 K 0<br>
                                R 237 G 23 B 77<br>
                                Pantone 199C
                            </span>
                        </div>
                    </li>
                    <li class="flex_inner">
                        <div class="slogan_color slogan_color3"></div>
                        <div>
                            <span class="slogan_color_name">Lime</span>
                            <span>
                                C 30 M 0 Y 100 K 0<br>
                                R 191 G 225 B 14<br>
                                Pantone 382C
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- <div module="mall_company">
</div>
    // @css(/css/module/mall/company.css) //
    <div class="ec-base-table" module="Layout_footer">
        <table border="1">
            <caption>회사소개</caption>
            <colgroup>
                <col style="width:180px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">상점명</th>
                    <td>{$mall_name}</td>
                </tr>
                <tr>
                    <th scope="row">대표이사</th>
                    <td><a href="mailto:{$email}">{$president_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">대표전화</th>
                    <td><a href="tel:{$phone}">{$phone}</a></td>
                </tr>
                <tr>
                    <th scope="row">주소</th>
                    <td>{$mall_addr1}<br />{$mall_addr2}</td>
                </tr>
                <tr>
                    <th scope="row">사업자등록번호</th>
                    <td>{$company_regno}</td>
                </tr>
                <tr>
                    <th scope="row">통신판매업신고</th>
                    <td>{$network_regno}</td>
                </tr>
                <tr class="{$cpo_email|display}">
                    <th scope="row">개인정보 관리책임</th>
                    <td><a href="mailto:{$cpo_email}">{$cpo_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">호스팅제공</th>
                    <td>카페24(주)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>{$info}</div>

    <div class="{$map_display|display}">
        <h3>위치</h3>
        <p>{$map_image}</p>
    </div>
</div> -->