<!--@layout(/layout/basic/layout.html)-->
<div class="company_info_content">
    <div class="path inner_1440">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/company/vision.html">회사소개</a></li>
            <li><a href="/layout/basic/company/youtube.html">헬로티비</a></li>
        </ol>
    </div>
    
    <div class="company_banner">
        <div class="company_banner_content">
            <div class="company_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="company_text">
                LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다 <br>
                고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다
            </p>
        </div>
    </div>
    <div class="company_inner inner_1440">
        <div class="titleH tab_titleH">
            <ul class="flex_inner tab_btn">
                <li><h2><a href="/layout/basic/company/vision.html">비전 및 철학</a></h2></li>
                <li><h2><a href="/layout/basic/company/ci.html">CI</a></h2></li>
                <li><h2><a href="/layout/basic/company/history.html">연혁</a></h2></li>
                <li><h2><a href="/layout/basic/company/map.html">오시는 길</a></h2></li>
                <li class="active"><h2><a href="/layout/basic/company/youtube.html">헬로티비</a></h2></li>
            </ul>
        </div>
        <div id="youtube">
            <div class="titleH">
                <h3>YOUTUBE</h3>
                <p>헬로비전 오리지널 브랜디드 웹드라마 "헬로 비전문가"</p>
            </div>
            <div class="D_youtube">
                <div class="swiper mySwiper youtube_swiper">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/yk34OXjyTPk?enablejsapi=1&si=2UXqsRB6QxZNpwt0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/AoaEQk5GfA8?enablejsapi=1&si=XzttBcI_E11el8UD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/_bWNc1jyCMk?enablejsapi=1&si=dZLNmgvqJV3ses6i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/mnyFvO4G2GU?enablejsapi=1&si=Jf6UMbW1B5s8in8q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/MpC5r5NE0lM?enablejsapi=1&si=Huj8JMDa-dc7d1YP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/p5_3CsDLaW4?enablejsapi=1&si=OXmD-eX_zOMntriU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/Pn081yUg5J8?enablejsapi=1&si=rcXmuLLKtPzsyhyV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/uY71kM99ea8?enablejsapi=1&si=8Tfsfbuy-eZYPSd-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/P2lZTg7B79g?enablejsapi=1&si=PYGTmHyuY-gP8xpL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                        <li class="swiper-slide">
                            <iframe src="https://www.youtube.com/embed/knVFG9SX4cg?enablejsapi=1&si=3YtFNWa42ezd5mb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </li>
                    </ul>
                </div>
                <div class="slide_btn slide_next_btn"></div>
                <div class="slide_btn slide_prev_btn"></div>
            </div>
        </div>
    </div>
    
    <!-- <div module="mall_company">
</div>
    // @css(/css/module/mall/company.css) //
    <div class="ec-base-table" module="Layout_footer">
        <table border="1">
            <caption>회사소개</caption>
            <colgroup>
                <col style="width:180px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">상점명</th>
                    <td>{$mall_name}</td>
                </tr>
                <tr>
                    <th scope="row">대표이사</th>
                    <td><a href="mailto:{$email}">{$president_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">대표전화</th>
                    <td><a href="tel:{$phone}">{$phone}</a></td>
                </tr>
                <tr>
                    <th scope="row">주소</th>
                    <td>{$mall_addr1}<br />{$mall_addr2}</td>
                </tr>
                <tr>
                    <th scope="row">사업자등록번호</th>
                    <td>{$company_regno}</td>
                </tr>
                <tr>
                    <th scope="row">통신판매업신고</th>
                    <td>{$network_regno}</td>
                </tr>
                <tr class="{$cpo_email|display}">
                    <th scope="row">개인정보 관리책임</th>
                    <td><a href="mailto:{$cpo_email}">{$cpo_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">호스팅제공</th>
                    <td>카페24(주)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>{$info}</div>

    <div class="{$map_display|display}">
        <h3>위치</h3>
        <p>{$map_image}</p>
    </div>
</div> -->