<!--@layout(/layout/basic/layout.html)-->
<div id="b2b_content">
    <div class="path inner_1440">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/layout/basic/b2b.html">사업자/B2B</a></li>
        </ol>
    </div>
    
    <div class="b2b_banner">
        <div class="openStudio_banner_content">
            <div class="openStudio_logo">LG헬로렌탈 사업자/B2B 전용관</div>
            <p class="openStudio_text">
                오직, 사업자 고객님들을 위한 스페셜한 혜택을 만나보세요<br>믿을 수 있는 LG 헬로렌탈, 24시간 상담신청 가능!
            </p>
        </div>
    </div>
    <div class="b2b_inner inner_1440">
        <div>
            <div class="b2b_h2title_box">
                <h2 class="b2b_title">오직, 사업자 고객님을 위한 Special 혜택</h2>
            </div>
            <div class="swiper mySwiper b2b_swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <p>다량 구매<br>최대 20% 할인</p>
                        <span>구매 개수와 금액에 따라<br>기존 렌탈료 대비 최대 20%<br>할인해드립니다</span>
                    </li>
                    <li class="swiper-slide">
                        <p>원하는 상품<br>모두 구해드릴게요</p>
                        <span>찾는 상품이 없으세요?<br>사이트에 없는 상품도<br>문의하시면 렌탈 가능합니다</span>
                    </li>
                    <li class="swiper-slide">
                        <p>신용한도 차감 NO<br>신용등급 하락 NO</p>
                        <span>렌탈은 채무가 아니기 때문에<br>신용 한도, 신용 등급에<br>영향을 끼치지 않습니다</span>
                    </li>
                    <li class="swiper-slide">
                        <p>초기 비용<br>부담 ZERO</p>
                        <span>보증금, 선 납부금액 없이<br>오직 월 렌탈료만으로!<br>초기 부담 덜어드릴게요</span>
                    </li>
                    <li class="swiper-slide">
                        <p>최대 60개월<br>할부 개월 조정</p>
                        <span>최대 60개월 내 원하는<br>할부 개월로 나눠 내세요<br>세금계산서도 자동 발행!</span>
                    </li>
                    <li class="swiper-slide">
                        <p>반납 없어요!<br>자동 소유</p>
                        <span>계약 기간이 종료되면<br>반납 없이 자동으로<br>고객님 소유가 됩니다</span>
                    </li>
                </ul>
            </div>
            <a href="#none" class="btn">상담 신청</a>
        </div>
        <hr class="gray_line">
        <div>
            <div class="b2b_h2_title_box">
                <p>잠깐! 일시불로 사면 되는데 왜 렌탈하냐고요?<br>사업자면 리스하면 되지 않냐고요?</p>
                <h2 class="b2b_title">일시불<span>vs</span>렌탈<span>vs</span>리스 전격 비교!</h2>
            </div>
            <div class="bubbleWrap">
                <div class="bubbleLeft">
                    <p><span class="txtBlue">일시불보다</span> 초기 비용 부담이 없고<br>대량구매&amp;카드 할인이 가능하며,</p>
                </div>
                <div class="bubbleRight">
                    <p><span class="txtBlue">리스와 달리</span> 자동 소유하는 방식이며<br>신용한도, 등급에 영향이 없습니다.</p>
                </div>
            </div>
            <div class="fakeTable">
                <div class="tableHeader">
                    <div></div>
                    <div>일시불</div>
                    <div>렌탈</div>
                    <div>리스</div>
                </div>
                <div class="fakeBody">
                    <div class="bodyLine">
                        <div>초기비용</div>
                        <div>높음</div>
                        <div>낮음</div>
                        <div>낮음</div>
                    </div>
                    <div class="bodyLine">
                        <div>대량구매 할인</div>
                        <div>없음</div>
                        <div>있음</div>
                        <div>있음</div>
                    </div>
                    <div class="bodyLine">
                        <div>반납/소유</div>
                        <div>소유</div>
                        <div>계약 종료 후 자동 소유</div>
                        <div>반납</div>
                    </div>
                    <div class="bodyLine">
                        <div>AS 기간</div>
                        <div>기본</div>
                        <div>최대 1년 무상 연장</div>
                        <div>종료 후 반납</div>
                    </div>
                    <div class="bodyLine">
                        <div>제품군</div>
                        <div>다양</div>
                        <div>다양/맞춤 수급 가능</div>
                        <div>특정 제품 한정</div>
                    </div>
                    <div class="bodyLine">
                        <div>신용 등급/한도</div>
                        <div>하락/차감 없음</div>
                        <div>하락/차감 없음</div>
                        <div>등급 하락/차감</div>
                    </div>
                    <div class="bodyLine">
                        <div>제휴카드 할인</div>
                        <div>없음</div>
                        <div>가능</div>
                        <div>가능</div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="gray_line">
        <div>
            <div class="b2b_title_box">
                <h2 class="b2b_title">이런 사장님들이 만족하셨습니다</h2>
            </div>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <hr class="gray_line">
        <div>
            <div class="b2b_h2title_box">
                <h2 class="b2b_title">믿을 수 있는 LG 헬로렌탈에게 맡겨주세요!</h2>
                <p>업종! 업장 규모! 예산! 고객님 상황에 다~ 맞춰드릴게요</p>
            </div>
            <div class="newProduct-title">
                <div class="swiper-container">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide b2b_title_box">
                            <p>방마다 하나씩 다 필요해요!</p>
                            <h2 class="b2b_title">숙박업소/병원/요양시설 패키지</h2>
                        </li>
                        <li class="swiper-slide b2b_title_box">
                            <p>청결함이 생명!</p>
                            <h2 class="b2b_title">카페/식당 패키지</h2>
                        </li>
                        <li class="swiper-slide b2b_title_box">
                            <p>직원의 만족도가 생산성과 직결됩니다</p>
                            <h2 class="b2b_title">사무실/공공기관 패키지</h2>
                        </li>
                        <li class="swiper-slide b2b_title_box">
                            <p>운동하러 왔다면 실내가 쾌적해야 하니까!</p>
                            <h2 class="b2b_title">골프/실내 스포츠 패키지</h2>
                        </li>
                    </ul>
                    <div class="swiper-prevBtn"><img src="/img/icon/prevIcon.svg" alt="이전 신제품 보기"></div>
                    <div class="swiper-nextBtn"><img src="/img/icon/nextIcon.svg" alt="다음 신제품 보기"></div>
                </div>
            </div>
            <div class="newProduct-content">
                <div class="swiper-container">
                    <ul class="newAll-swiper swiper-wrapper">
                        <li class="swiper-slide"></li>
                        <li class="swiper-slide"></li>
                        <li class="swiper-slide"></li>
                        <li class="swiper-slide"></li>
                    </ul>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>