<!--@layout(/layout/basic/layout.html)-->
<div id="company_info_content">
    <div class="path inner">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li><a href="/">회사소개</a></li>
        </ol>
    </div>
    
    <div class="company_banner">
        <div class="company_banner_content">
            <div class="company_logo"><img src="/img/hellorental_logo.png" alt="헬로렌탈 로고, 회사소개 페이지입니다"></div>
            <p class="company_text">
                LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다 <br>
                고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다
            </p>
        </div>
    </div>
    <div class="company_inner">
        <div class="inner">
            <div class="titleH">
                <h2>VISION</h2>
                <div>
                    <strong>
                        고객의 홈 라이프를 편리하게 만들고,<br>
                        지역과 다채롭게 연결하는 로컬 크리에이터
                    </strong>
                    <p>
                        LG헬로비전은 고객의 홈 라이프를 더욱 편리하게 만들고 지역과 다채롭게 연결하는 서비스를 제공합니다.<br>
                        고객의 생활에 녹아들 수 있는 서비스로 고객의 삶을 가치있게 연결하는 것이 LG헬로비전이 추구하는 방향성입니다.
                    </p>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="titleH">
                <h2>LG WAY</h2>
                <div>
                    <strong>
                        LG 고유의 경영철학이자,<br>
                        LG 전 임직원이 지키고 실천해야 할 사고와 행동의 기반
                    </strong>
                    <p>
                        LG Way는 경영이념인 ‘고객을 위한 가치창조’와 ‘인간존중의 경영’을 LG의 행동방식인 ‘정도경영’으로 실천함으로써<br>
                        LG의 비전인 ‘일등LG’를 달성하자는 것입니다
                    </p>
                </div>
            </div>
        </div>
        <div id="company_history" class="inner">
            <div class="titleH">
                <h2>HISTORY</h2>
                <p>
                    고객의 편리하고 다채로운 삶을 위해 2000년부터 시작된 노력,<br>
                    LG HelloVision의 지속적인 성장과 발자취를 소개합니다!
                </p>
            </div>
            <div class="swiper mySwiper company_history_swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="flex_inner">
                            <h3 class="history_year">2023</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">지속가능경영보고서 첫 발간</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">오픈 스튜디오 3호점 개소 (목포무안)</span>
                                </li>
                                <li>
                                    <span class="history_month">10</span>
                                    <span class="history_text">안전보건경영시스템 국제표준 ‘ISO 45001’ 인증 획득</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">케이블TV '실버 케어' 서비스 지원</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">DX 데이터스쿨 개소 및 운영</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">&lt;오리지널 로컬 테이스트&gt; 1호 상품 '땅끝마을 해남김치' 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">지역채널 커머스 &lt;제철장터&gt; 앱 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">헬로모바일 알뜰폰 5G 중간요금제 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">통합 홈페이지 개편</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2022</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">홈 보안 시장 진출</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">오픈 스튜디오 2호점 개소 (강원도 원주)</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">지역채널 오리지널 콘서트 &lt;2022 헬로콘서트 좋은날&gt; 진행</span>
                                </li>
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">직영몰 '24시간 번개설치' 서비스 지원</span>
                                </li>
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">헬로tv '고객중심' UI·UX전면 개편</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">제8회 전국동시지방선거 선거방송 체제 돌입</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">케이블TV 양방향 커머스 '제철장터' 론칭</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">헬로모바일, '모토로라' 단독 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">헬로렌탈 다이렉트몰 '바로구매' 서비스 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">헬로tv 뉴스 전면 개편</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="flex_inner">
                            <h3 class="history_year">2023</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">지속가능경영보고서 첫 발간</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">오픈 스튜디오 3호점 개소 (목포무안)</span>
                                </li>
                                <li>
                                    <span class="history_month">10</span>
                                    <span class="history_text">안전보건경영시스템 국제표준 ‘ISO 45001’ 인증 획득</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">케이블TV '실버 케어' 서비스 지원</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">DX 데이터스쿨 개소 및 운영</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">&lt;오리지널 로컬 테이스트&gt; 1호 상품 '땅끝마을 해남김치' 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">지역채널 커머스 &lt;제철장터&gt; 앱 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">03</span>
                                    <span class="history_text">헬로모바일 알뜰폰 5G 중간요금제 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">02</span>
                                    <span class="history_text">통합 홈페이지 개편</span>
                                </li>
                            </ul>
                        </div>
                        <div class="flex_inner">
                            <h3 class="history_year">2022</h3>
                            <ul class="history_year_data">
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">홈 보안 시장 진출</span>
                                </li>
                                <li>
                                    <span class="history_month">11</span>
                                    <span class="history_text">오픈 스튜디오 2호점 개소 (강원도 원주)</span>
                                </li>
                                <li>
                                    <span class="history_month">09</span>
                                    <span class="history_text">지역채널 오리지널 콘서트 &lt;2022 헬로콘서트 좋은날&gt; 진행</span>
                                </li>
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">직영몰 '24시간 번개설치' 서비스 지원</span>
                                </li>
                                <li>
                                    <span class="history_month">07</span>
                                    <span class="history_text">헬로tv '고객중심' UI·UX전면 개편</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">제8회 전국동시지방선거 선거방송 체제 돌입</span>
                                </li>
                                <li>
                                    <span class="history_month">06</span>
                                    <span class="history_text">케이블TV 양방향 커머스 '제철장터' 론칭</span>
                                </li>
                                <li>
                                    <span class="history_month">05</span>
                                    <span class="history_text">헬로모바일, '모토로라' 단독 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">헬로렌탈 다이렉트몰 '바로구매' 서비스 출시</span>
                                </li>
                                <li>
                                    <span class="history_month">04</span>
                                    <span class="history_text">헬로tv 뉴스 전면 개편</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <div id="ci" class="inner">
            <div class="titleH">
                <h2>CI</h2>
                <span>
                    <p>
                        LOGO는 LG HelloVision의 공식적인 명칭을 표시하기 위해 심벌마크와 로고타이프를 조합한 형태로
                    </p>
                    <strong>
                        <span class="point">
                            어떤 경우라도 LOGO를 임의로 변형하거나 재조합하여 사용할 수 없습니다.<br>
                            심벌마크 단독 사용은 허용되지 않습니다.
                        </span>
                    </strong>
                </span>
    
            </div>
            <div class="ci_content_box">
                <div class="ci_content ci_content1">
                    <div class="ci_content_title">
                        <h4>심벌마크의 의미</h4>
                        <p>
                            세계, 미래, 젊음, 인간, 기술의 5가지 개념과 정서를 형상화하였습니다<br>
                            L과 G를 둥근 원 속에 형상화하여 인간이 그룹 경영의 중심에 있음을 상징하고,<br>
                            세계 어디서나 고객과 친밀한 유대 관계로 고객 만족을 위해 최선을 다하는 LG인의 결의를 나타내고 있습니다
                        </p>
                    </div>
                    <div class="ci_content_img"><img src="/img/company/img_ci_content_02.jpg" alt="심벌마크와 로고"></div>
                </div>
                <div class="ci_content_flex">
                    <div class="ci_content ci_content2">
                        <div class="ci_content_title">
                            <h4>CI 규정</h4>
                            <p>
                                LOGO는 반드시 공간규정에 따른 충분한 Clear Space를 확보해야 합니다
                            </p>
                        </div>
                        <div class="ci_content_img"><img src="/img/company/img_ci_content_01.jpg" alt="CI 규정"></div>
                    </div>
                    <div class="ci_content ci_content3">
                        <div class="ci_content_title">
                            <h4>컬러시스템</h4>
                            <p>LG RED와 LG GRAY를 소개합니다</p>
                        </div>
                        <div class="ci_content_img"><img src="/img/company/img_ci_content_03.jpg" alt="CI 규정"></div>
                    </div>
                </div>
                <div class="ci_content ci_content4">
                    <a href="https://drive.google.com/file/d/1VzHInGt4JKYoxi5sQztUCRUG8XcXdWSf/view?usp=sharing" class="btn" title="CI 다운로드">CI 다운로드</a>
                    <a href="https://drive.google.com/file/d/1sDpBvrUTqLUJWc21m_QDcdWOkyHrvBsP/view?usp=sharing" class="btn" title="회사소개서 다운로드">회사소개서 다운로드</a>
                </div>
            </div>
        </div>
        <div id="slogan" class="inner">
            <div class="titleH">
                <h2>SLOGAN</h2>
            </div>
            <div class="slogan_content flex_inner">
                <div class="slogan_img"><img src="/img/company/slogan.jpg" alt="일상을 편리하게 지역을 가치있게"></div>
                <ul class="slogan_color_box">
                    <li class="flex_inner">
                        <div class="slogan_color slogan_color1"></div>
                        <div>
                            <span class="slogan_color_name">Gray</span>
                            <span>
                                C 44 M 34 Y 22 K 77<br>
                                R 83 G 86 B 90<br>
                                Pantone Cool Gray 11C
                            </span>
                        </div>
                    </li>
                    <li class="flex_inner">
                        <div class="slogan_color slogan_color2"></div>
                        <div>
                            <span class="slogan_color_name">Red</span>
                            <span>
                                C 0 M 100 Y 64 K 0<br>
                                R 237 G 23 B 77<br>
                                Pantone 199C
                            </span>
                        </div>
                    </li>
                    <li class="flex_inner">
                        <div class="slogan_color slogan_color3"></div>
                        <div>
                            <span class="slogan_color_name">Lime</span>
                            <span>
                                C 30 M 0 Y 100 K 0<br>
                                R 191 G 225 B 14<br>
                                Pantone 382C
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="youtube" class="D_youtube inner">
            <div class="titleH">
                <h2>YOUTUBE</h2>
            </div>
            <div class="swiper mySwiper youtube_swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/yk34OXjyTPk?si=2UXqsRB6QxZNpwt0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/AoaEQk5GfA8?si=XzttBcI_E11el8UD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/_bWNc1jyCMk?si=dZLNmgvqJV3ses6i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/mnyFvO4G2GU?si=Jf6UMbW1B5s8in8q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/MpC5r5NE0lM?si=Huj8JMDa-dc7d1YP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/p5_3CsDLaW4?si=OXmD-eX_zOMntriU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/Pn081yUg5J8?si=rcXmuLLKtPzsyhyV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/uY71kM99ea8?si=8Tfsfbuy-eZYPSd-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/P2lZTg7B79g?si=PYGTmHyuY-gP8xpL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                    <li class="swiper-slide">
                        <iframe src="https://www.youtube.com/embed/knVFG9SX4cg?si=3YtFNWa42ezd5mb8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </li>
                </ul>
            </div>
            <div class="slide_btn slide_next_btn"></div>
            <div class="slide_btn slide_prev_btn"></div>
        </div>
    </div>
    
    <!-- <div module="mall_company">
</div>
    // @css(/css/module/mall/company.css) //
    <div class="ec-base-table" module="Layout_footer">
        <table border="1">
            <caption>회사소개</caption>
            <colgroup>
                <col style="width:180px;">
                <col style="width:auto;">
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">상점명</th>
                    <td>{$mall_name}</td>
                </tr>
                <tr>
                    <th scope="row">대표이사</th>
                    <td><a href="mailto:{$email}">{$president_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">대표전화</th>
                    <td><a href="tel:{$phone}">{$phone}</a></td>
                </tr>
                <tr>
                    <th scope="row">주소</th>
                    <td>{$mall_addr1}<br />{$mall_addr2}</td>
                </tr>
                <tr>
                    <th scope="row">사업자등록번호</th>
                    <td>{$company_regno}</td>
                </tr>
                <tr>
                    <th scope="row">통신판매업신고</th>
                    <td>{$network_regno}</td>
                </tr>
                <tr class="{$cpo_email|display}">
                    <th scope="row">개인정보 관리책임</th>
                    <td><a href="mailto:{$cpo_email}">{$cpo_name}</a></td>
                </tr>
                <tr>
                    <th scope="row">호스팅제공</th>
                    <td>카페24(주)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>{$info}</div>

    <div class="{$map_display|display}">
        <h3>위치</h3>
        <p>{$map_image}</p>
    </div>
</div> -->