<div id="header">
    <div class="inner">
        <div class="topArea">
            <div class="inner-left">
                <h1 module="Layout_LogoTop">
                    <!--@css(/css/module/layout/logotop.css)-->
                    <a href="/index.html"><img src="/img/logo/helloRentalLogo.png" alt="LG Hello Rental Logo"></a>
                    <!-- <a href="/index.html">{$mall_name}</a> -->
                </h1>
                <div id="category" module="Layout_category">
                    <!--@css(/css/module/layout/category.css)-->
                    <!--@js(/js/module/layout/category.js)-->
                    <div class="position">
                        <ul class="category_depth">
                            <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                            <li><a href="{$link_product_list}">{$name_or_img_tag}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-bg"></div>
            </div>
            <div class="util-menu">
                <div class="search-btn">
                    <ol class="search-rank-slider">
                        <li><b>1.</b>브람스</li>
                        <li><b>2.</b>코지마</li>
                        <li><b>3.</b>바디프렌즈</li>
                        <li><b>4.</b>안마의자</li>
                        <li><b>5.</b>리클라이너</li>
                        <li><b>6.</b>컴펙터블</li>
                        <li><b>7.</b>안마베드</li>
                        <li><b>8.</b>헬로렌탈</li>
                        <li><b>9.</b>최저가보장</li>
                        <li><b>10.</b>코웨이</li>
                    </ol>
                    <button><img src="/img/icon/searchIcon.svg" alt="검색"></button>
                </div>
                <div class="search-popup">
                    <div class="search-box">
                        <div class="search-bar">
                            <div module="Layout_SearchHeader">
                                <!--@css(/css/module/layout/searchHeader.css)-->
                                <!--
                                    $product_page=/product/detail.html
                                    $category_page=/product/list.html
                                -->
                                <fieldset>
                                    <legend>검색</legend>
                                    {$form.keyword}<input type="image" src="/img/icon/searchIcon.svg" alt="검색" onclick="{$action_search_submit}" /><ul class="autoDrop" id="{$search_auto_id}"></ul></fieldset>
                            </div>
                            <button class="close-btn"><img src="/img/icon/closeIcon.svg" alt="닫기"></button>
                        </div>
                    </div>
                </div>
    
                <div module="Layout_statelogoff">
                    <!--@css(/css/module/layout/statelogoff.css)-->
                    <a href="/order/basket.html"><img src="/img/icon/basketIcon.svg" alt="장바구니"><span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
                    <!-- <a href="/myshop/order/list.html">주문조회</a> -->
                    <button class="login-menu-btn"><img src="/img/icon/mypageIcon.svg" alt="로그인 메뉴 버튼"></button>
                    <div class="login-menu">
                        <ul>
                            <li><a href="#" class="log header-login-btn">로그인</a></li>
                            <li><a href="/member/join.html">회원가입</a></li>
                            <li><a href="/order/basket.html">장바구니</a></li>
                            <li><a href="/myshop/index.html">마이페이지</a></li>
                        </ul>
                    </div>
                    <!-- <a class="{$board_display|display}" href="/board/index.html">게시판</a> -->
                </div>
            
                <div module="Layout_stateLogon">
                    <!--@css(/css/module/layout/statelogon.css)-->
                    <a href="/order/basket.html"><img src="/img/icon/basketIcon.svg" alt="장바구니"><span class="count {$basket_count_display|display} {$basket_count_display_class}"><span class="{$basket_count_class}">{$basket_count}</span></span></a>
                    <button class="logoff-menu-btn"><img src="/img/icon/mypageIcon.svg" alt="로그아웃 메뉴 버튼"></button>
                    <div class="logoff-menu">
                        <span class="myinfo"><strong>{$name}</strong>님 환영합니다.</span>
                        <ul>
                            <li><a href="{$action_logout}" class="log">로그아웃</a></li>
                            <li><a href="/member/modify.html">회원정보수정</a></li>
                            <li><a href="/order/basket.html">장바구니</a></li>
                            <li><a href="/myshop/order/list.html">주문조회</a></li>
                            <li><a href="/myshop/index.html">마이페이지</a></li>
                        </ul>  
                    </div>
                    <!-- <a class="{$board_display|display}" href="/board/index.html">게시판</a> -->
                </div>
            </div>
        </div>
    
        <div module="Layout_multishopList" class="list">
            <!--@css(/css/module/layout/multishopList.css)-->
            <button type="button" class="toggle"><span>{$current_language}</span></button>
            <ul module="Layout_multishopListitem">
                <li class="{$selected_class}">
                    <a href="//{$shop_domain}/">                    
                        <span class="name">{$locale_language}</span>
                        <span class="unit">{$currency_code}</span>
                    </a>
                </li>
                <li class="{$selected_class}">
                    <a href="//{$shop_domain}/">
                        <span class="name">{$locale_language}</span>
                        <span class="unit">{$currency_code}</span>
                    </a>
                </li>
            </ul>
        </div>
    
        <div module="Layout_multishopList" class="thumb">
            <!--@css(/css/module/layout/multishopList.css)-->        
            <div module="Layout_multishopListmultioption" class="multiOption">
                <a href="#none">
                    <span module="Layout_multishopListmultioptionCountry" class="ship">
                        <strong>Ship to</strong><span> : </span>
                    </span>
                    <span module="Layout_multishopListmultioptionLanguage" class="language">
                        <strong>Language</strong><span> : {$language_name}</span>
                    </span>
                </a>
            </div>
        </div>
        
        <!-- <ul module="Layout_shoppingInfo"> -->
            <!--@css(/css/module/layout/shoppingInfo.css)-->
            <!-- <li class="{$use_mileage|display}"><a href="/myshop/mileage/historyList.html">{$mileage_name} <strong>{$mileage}</strong></a></li>
            <li class="{$use_basket_cnt|display}"><a href="/order/basket.html">장바구니 <strong>{$basket_cnt}<span class="{$use_basket_price|display}">({$basket_price})</span></strong></a></li>
            <li class="{$use_interest_prd|display}"><a href="/myshop/wish_list.html">관심상품 <strong>{$interest_prd_cnt}</strong></a></li>
            <li class="{$use_like_product_cnt|display}">{$like_prd_tag}</li>
            <li class="{$use_coupon_cnt|display}"><a href="/myshop/coupon/coupon.html">쿠폰 <strong>{$coupon_cnt}</strong></a></li>
            <li class="{$use_deposit|display}"><a href="/myshop/deposits/historyList.html">{$deposit_name} <strong>{$deposit}</strong></a></li> -->
        <!-- </ul> -->
    
        <div class="link">
            <a module="Layout_bookmark" href="/link/bookmark.html" target="_blank" onclick="winPop(this.href); return false;"><span>즐겨찾기</span></a>
            <a module="Layout_shortcut" href="/link/shortcut.html" target="_blank" onclick="winPop(this.href); return false;">바로가기</a>
        </div>
    </div>
    </div>