<!--@layout(/layout/basic/layout.html)-->

<!-- 렌탈 페이지 -->
<div id="rental_content" class="list_main">
    <div module="Product_menupackage">
        <!--@css(/css/module/product/menupackage.css)-->
        <!--@js(/js/module/product/menucategory.js)-->
        <div class="path inner" module="product_headcategory">
            <span>현재 위치</span>
            <ol>
                <li><a href="/">홈</a></li>
                <li class="{$disp_cate_1|display}"><a href="/product/list.html{$param_1}">{$name_1}</a></li>
                <li class="{$disp_cate_2|display}"><a href="/product/list.html{$param_2}">{$name_2}</a></li>
                <li class="{$disp_cate_3|display}"><a href="/product/list.html{$param_3}">{$name_3}</a></li>
                <li class="{$disp_cate_4|display}"><strong><a href="/product/list.html{$param_4}">{$name_4}</a></strong></li>
            </ol>
        </div>
    
        <!-- <div class="titleH" module="product_headcategory">
            <p class="banner">{$top_image1_tag}{$top_image2_tag}{$top_image3_tag}</p>
            <h2><span>{$title_text_or_image}</span></h2>
            <span class="likeButton {$disp_likecate_class}"><button type="button">{$disp_likecate_icon}<strong>{$disp_likecate_count}</strong></button></span>
        </div> -->
    
        <!--@import(/product/shoppQ/searchContent.html)-->
    
        <ul class="menuCategory">
            <li module="product_displaycategory" style="display:{$display};" class="{$selected}">
                <a href="/product/list.html{$param_cate_no}">{$category_name} <span class="count {$product_count_display|display}">({$product_count})</span></a>
                <ul module="product_children">
                    <li class="{$selected}">
                        <a href="/product/list.html{$param_cate_no}">{$category_name} <span class="{$product_count_display|display}">({$product_count})</span></a>
                        <div class="button">
                            {$children_icon}
                            <ul module="product_children" class="subCategory">
                                <li class="{$selected}"><a href="/product/list.html{$param_cate_no}">{$category_name} <span class="{$product_count_display|display}">({$product_count})</span></a></li>
                                <li class="{$selected}"><a href="/product/list.html{$param_cate_no}">{$category_name} <span class="{$product_count_display|display}">({$product_count})</span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="{$selected}">
                        <a href="/product/list.html{$param_cate_no}">{$category_name} <span class="{$product_count_display|display}">({$product_count})</span></a>
                        <div class="button">
                            {$children_icon}
                            <ul module="product_children" class="subCategory">
                                <li class="{$selected}"><a href="/product/list.html{$param_cate_no}">{$category_name} <span class="{$product_count_display|display}">({$product_count})</span></a></li>
                                <li class="{$selected}"><a href="/product/list.html{$param_cate_no}">{$category_name} <span class="{$product_count_display|display}">({$product_count})</span></a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    
    <!-- 브랜드 -->
    <article id="rental_brand">
        <div module="product_listmain_7" class="ec-base-product">
            <!--
                $count = 11
                    ※ 상품진열갯수를 설정하는 변수입니다. 설정하지 않을 경우, 최대 200개의 상품이 진열 됩니다.
                    ※ 진열된 상품이 많으면, 쇼핑몰에 부하가 발생할 수 있습니다.
            -->
            <div class="swiper mySwiper rental_brand_swiper">
                <ul class="prdList grid1 swiper-wrapper">
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=57" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=57"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=58" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=58"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=65" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=65"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=66" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=66"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=59" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=59"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=63" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=63"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=56" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=56"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=62" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=62"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=60" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=60"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=61" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=61"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                    <li id="anchorBoxId_{$product_no}" class="swiper-slide">
                        <div class="inner flex_inner">
                            <div class="thumbnail flex_left">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=64" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_big_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                            <div class="description flex_right">
                                <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=64"><strong>지친 나를 안아주는 브람스</strong><p>EXPERIENCE RELAXATION,<br>Embrace Comfort with BRAMS</p><span class="direct-btn">바로가기</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="slide_btn slide_nextBg_btn"></div>
                <div class="slide_btn slide_prevBg_btn"></div>
                <!-- <div class="swiper-pagination"></div> -->
            </div>
        </div>
    </article>

    <!-- 카테고리 탭 -->
    <article id="rental_category">
        <div class="inner  tab_container">
            <div class="titleH">
                <h2>CATEGORY</h2>
                <ul class="tab_btn">
                    <li data-tab="rental_category_tab1" class="chair active">
                        <h3>안마의자</h3>
                    </li>
                    <li data-tab="rental_category_tab2" class="bed">
                        <h3>안마베드</h3>
                    </li>
                    <li data-tab="rental_category_tab3" class="recliner">
                        <h3>리클라이너</h3>
                    </li>
                </ul>
            </div>
            <ul class="tab_content">
                <li id="rental_category_tab1" class="active">
                    <div module="product_listmain_8" class="ec-base-product">
                        <!--         
                            $count = 12
                                ※ 상품진열갯수를 설정하는 변수입니다. 설정하지 않을 경우, 최대 200개의 상품이 진열 됩니다.
                                ※ 진열된 상품이 많으면, 쇼핑몰에 부하가 발생할 수 있습니다.
                        -->
                        <ul class="prdList grid4">
                            <li id="anchorBoxId_{$product_no}">
                                <div class="thumbnail">
                                    <div class="prdImg">
                                        <a href="/product/detail.html{$param}" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                        <ul class="iconList">
                                            <li class="wish">{$list_wish_icon}</li>
                                            <li class="button">{$basket_icon}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="brand_name">{$prd_brand}</p>
                                        <strong class="name"><a href="/product/detail.html{$param}" class="{$product_name_display|display}">{$product_name}</a></strong>
                                        <p class="summary_description">{$summary_desc}</p>
                                    </div>
                                    <ul class="price_box">
                                        <li class="retail_price">월&nbsp;<span class="price">{$product_custom}</span>원</li>
                                        <li class="selling_price">월&nbsp;<span class="price">{$product_price}</span>원</li>
                                    </ul>
                                </div>
                            </li>
                            <li id="anchorBoxId_{$product_no}">
                                <div class="thumbnail">
                                    <div class="prdImg">
                                        <a href="/product/detail.html{$param}" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                        <ul class="iconList">
                                            <li class="wish">{$list_wish_icon}</li>
                                            <li class="button">{$basket_icon}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="brand_name">{$prd_brand}</p>
                                        <strong class="name"><a href="/product/detail.html{$param}" class="{$product_name_display|display}">{$product_name}</a></strong>
                                        <p class="summary_description">{$summary_desc}</p>
                                    </div>
                                    <ul class="price_box">
                                        <li class="retail_price">월&nbsp;<span class="price">{$product_custom}</span>원</li>
                                        <li class="selling_price">월&nbsp;<span class="price">{$product_price}</span>원</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="/product/list.html?cate_no=33" class="btn">상품 보러가기</a>
                </li>
                <li id="rental_category_tab2">
                    <div module="product_listmain_9" class="ec-base-product">
                        <!--         
                            $count = 12
                                ※ 상품진열갯수를 설정하는 변수입니다. 설정하지 않을 경우, 최대 200개의 상품이 진열 됩니다.
                                ※ 진열된 상품이 많으면, 쇼핑몰에 부하가 발생할 수 있습니다.
                        -->
                        <ul class="prdList grid4">
                            <li id="anchorBoxId_{$product_no}">
                                <div class="thumbnail">
                                    <div class="prdImg">
                                        <a href="/product/detail.html{$param}" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                        <ul class="iconList">
                                            <li class="wish">{$list_wish_icon}</li>
                                            <li class="button">{$basket_icon}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="brand_name">{$prd_brand}</p>
                                        <strong class="name"><a href="/product/detail.html{$param}" class="{$product_name_display|display}">{$product_name}</a></strong>
                                        <p class="summary_description">{$summary_desc}</p>
                                    </div>
                                    <ul class="price_box">
                                        <li class="retail_price">월&nbsp;<span class="price">{$product_custom}</span>원</li>
                                        <li class="selling_price">월&nbsp;<span class="price">{$product_price}</span>원</li>
                                    </ul>
                                </div>
                            </li>
                            <li id="anchorBoxId_{$product_no}">
                                <div class="thumbnail">
                                    <div class="prdImg">
                                        <a href="/product/detail.html{$param}" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                        <ul class="iconList">
                                            <li class="wish">{$list_wish_icon}</li>
                                            <li class="button">{$basket_icon}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="brand_name">{$prd_brand}</p>
                                        <strong class="name"><a href="/product/detail.html{$param}" class="{$product_name_display|display}">{$product_name}</a></strong>
                                        <p class="summary_description">{$summary_desc}</p>
                                    </div>
                                    <ul class="price_box">
                                        <li class="retail_price">월&nbsp;<span class="price">{$product_custom}</span>원</li>
                                        <li class="selling_price">월&nbsp;<span class="price">{$product_price}</span>원</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="/product/list.html?cate_no=43" class="btn">상품 보러가기</a>
                </li>
                <li id="rental_category_tab3">
                    <div module="product_listmain_10" class="ec-base-product">
                        <!--         
                            $count = 12
                                ※ 상품진열갯수를 설정하는 변수입니다. 설정하지 않을 경우, 최대 200개의 상품이 진열 됩니다.
                                ※ 진열된 상품이 많으면, 쇼핑몰에 부하가 발생할 수 있습니다.
                        -->
                        <ul class="prdList grid4">
                            <li id="anchorBoxId_{$product_no}">
                                <div class="thumbnail">
                                    <div class="prdImg">
                                        <a href="/product/detail.html{$param}" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                        <ul class="iconList">
                                            <li class="wish">{$list_wish_icon}</li>
                                            <li class="button">{$basket_icon}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="brand_name">{$prd_brand}</p>
                                        <strong class="name"><a href="/product/detail.html{$param}" class="{$product_name_display|display}">{$product_name}</a></strong>
                                        <p class="summary_description">{$summary_desc}</p>
                                    </div>
                                    <ul class="price_box">
                                        <li class="retail_price">월&nbsp;<span class="price">{$product_custom}</span>원</li>
                                        <li class="selling_price">월&nbsp;<span class="price">{$product_price}</span>원</li>
                                    </ul>
                                </div>
                            </li>
                            <li id="anchorBoxId_{$product_no}">
                                <div class="thumbnail">
                                    <div class="prdImg">
                                        <a href="/product/detail.html{$param}" name="anchorBoxName_{$product_no}"><img src="{$image_big}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                        <ul class="iconList">
                                            <li class="wish">{$list_wish_icon}</li>
                                            <li class="button">{$basket_icon}</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="description">
                                    <div>
                                        <p class="brand_name">{$prd_brand}</p>
                                        <strong class="name"><a href="/product/detail.html{$param}" class="{$product_name_display|display}">{$product_name}</a></strong>
                                        <p class="summary_description">{$summary_desc}</p>
                                    </div>
                                    <ul class="price_box">
                                        <li class="retail_price">월&nbsp;<span class="price">{$product_custom}</span>원</li>
                                        <li class="selling_price">월&nbsp;<span class="price">{$product_price}</span>원</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a href="/product/list.html?cate_no=44" class="btn">상품 보러가기</a>
                </li>
            </ul>
        </div>
    </article>

    <!-- 스마트 가이드 -->
    <article class="D_flex_threeBox list_smartGuide">
        <div class="inner">
            <div class="flex_left">
                <div class="titleH">
                    <h2>SMART GUIDE</h2>
                    <p>나한테 딱 맞는 안마의자 알아보기</p>
                </div>
            </div>
            <ul class="guide_box flex_right">
                <li>
                    <a href="#none" class="flex_content content1">
                        <span class="guide_text text">
                            <span class="hashtag"><span>#오직품질</span><span>#완벽힐링</span></span>
                            <strong>본격적인 힐링이 필요할 땐, <span>안마의자</span></strong>
                            <span class="btn">상품 보러가기</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#none" class="flex_content content2">
                        <span class="guide_text text">
                            <span class="hashtag"><span>#중력활용</span><span>#수평마사지</span></span>
                            <strong>누워서 편안하게, <span>안마베드</span></strong>
                            <span class="btn">상품 보러가기</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#none" class="flex_content content3">
                        <span class="guide_text text">
                            <span class="hashtag"><span>#오브제안마의자</span><span>#감성휴식</span></span>
                            <strong>우아함과 편안함의 조화, <span>리클라이너</span></strong>
                            <span class="btn">상품 보러가기</span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </article>

    <div class="D_flexSlider D_flexSlider_colunm">
        <div module="product_listmain_7" class="ec-base-product">
            <!--
                $count = 11
                    ※ 상품진열갯수를 설정하는 변수입니다. 설정하지 않을 경우, 최대 200개의 상품이 진열 됩니다.
                    ※ 진열된 상품이 많으면, 쇼핑몰에 부하가 발생할 수 있습니다.
            -->
            <div class="flex_right slide_box">
                <div class="swiper mySwiper brand_swiper">
                    <ul class="prdList grid2 swiper-wrapper">
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=57" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=58" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=65" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=66" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=59" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=63" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=56" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=62" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=60" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=61" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                        <li id="anchorBoxId_{$product_no}" class="swiper-slide slide_height">
                            <div class="thumbnail">
                                <div class="prdImg">
                                    <a href="https://tlacofla1018.cafe24.com/product/list.html?cate_no=64" name="anchorBoxName_{$product_no}"><img src="{$image_medium}" id="{$image_medium_id}" alt="{$seo_alt_tag}" /><span module="product_Imagestyle"><span class="prdIcon {$icon_class_name}" style="background-image:url('{$icon_url}');"></span></span></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>