:root {
    /* color-black */
    --c-black-1: #202020;
    --c-black-2: #353535;
    --c-black-3: #757575;
    --c-black-4: #cfcfcf;
    --c-black-5: #ededed;
    --c-black-6: #fff;

    /* color-point */
    --c-point: #EC164D;

    /* font-size */
    --f-size-1: 2rem;
    --f-size-2: 1.5rem;
    --f-size-3: 1.125rem;
    --f-size-4: 1rem;
    --f-size-5: .875rem;
    --f-size-6: .75rem;

    /* font-weight */
    --f-weight-n: 400;
    --f-weight-m: 500;
    --f-weight-b: 600;
}

/* 텍스트 */
.titleH {
    color: var(--c-black-1);
}
.titleH.white {
    color: var(--c-black-6);
}
.titleH h2 {
    font-size: 2rem;
    line-height: 2.625rem;
    letter-spacing: -0.02em;
    font-weight: var(--f-weight-b);
}
.titleH p {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    font-weight: var(--f-weight-n);
}
.description > div {
    width: 100%;
}
.description .brand_name,
.description .name,
.description .summary_description {
    width: 100%;
    overflow: hidden;         /* 내용이 넘칠 때 숨김 */
    text-overflow: ellipsis; /* 말 줄임표 표시 */
    white-space: nowrap;      /* 텍스트를 한 줄로 표시 */
    text-align: start;
}
.description .summary_description {
    font-size: 12px;
}
.brand_name {
    width: fit-content;
    color: var(--c-black-4);
}

.price_box {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 8px;
    width: 100%;
    font-size: var(--f-size-6);
    font-weight: var(--f-weight-n);
    line-height: 24px;
}
.retail_price span {
    text-decoration: line-through;
}
.selling_price {
    font-size: var(--f-size-4);
}
.selling_price span {
    font-weight: var(--f-weight-m);
}

/* 바로가기 */
.direct-btn {
    position: relative;
    width: 70px;
}
.direct-btn::after {
    content: '';
    display: block;
    width: 80px;
    height: 10px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: url(/img/icon/directIcon.svg);
}
.direct-btn.direct-btn-w,
.direct-btn.direct-btn-w a {
    color: #fff;
}
.direct-btn.direct-btn-w::after {
    background: url(/img/icon/directIcon-w.svg);
}

/* 슬라이드 */
.slide_btn {
    position: absolute;
    top: calc(50% - 16px);
    left: auto;
    right: auto;
    width: 32px;
    height: 32px;
    z-index: 1;
    transition: all .4s ease-in-out;
}
.slide_btn.slide_prev_btn {
    left: 0;
    background: url(/img/icon/prevIcon.svg) no-repeat center/cover;
}
.slide_btn.slide_next_btn {
    right: 0;
    background: url(/img/icon/nextIcon.svg) no-repeat center/cover;
}
.slide_btn.slide_prevBg_btn {
    left: 0;
    background: url(/img/icon/prevIcon-bg.svg) no-repeat center/cover;
}
.slide_btn.slide_prevBg_btn.swiper-button-disabled {
    background: url(/img/icon/prevIcon-bg-disabled.svg) no-repeat center/cover;
}
.slide_btn.slide_nextBg_btn {
    right: 0;
    background: url(/img/icon/nextIcon-bg.svg) no-repeat center/cover;
}
.slide_btn.slide_nextBg_btn.swiper-button-disabled {
    background: url(/img/icon/nextIcon-bg-disabled.svg) no-repeat center/cover;
}
.s_pagination {}