:root {
    /* color-black */
    --c-black-1: #121212;
    --c-black-2: #333;
    --c-black-3: #ccc;
    --c-black-4: #ededed;
    --c-black-5: #fff;

    /* color-point */
    --c-point: #EC164D;

    /* font-size */
    --f-size-1: 2rem;
    --f-size-2: 1.5rem;
    --f-size-3: 1.125rem;
    --f-size-4: 1rem;
    --f-size-5: .875rem;
    --f-size-6: .75rem;

    /* font-weight */
    --f-weight-n: 400;
    --f-weight-m: 500;
    --f-weight-b: 600;
}

/* 텍스트 */
.titleH h2 {
    font-size: 2rem;
    line-height: 2.625rem;
}
.titleH p {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* 바로가기 */
.direct-btn {
    position: relative;
    width: 70px;
}
.direct-btn::after {
    content: '';
    display: block;
    width: 80px;
    height: 10px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: url(/img/icon/directIcon.svg);
}
.direct-btn.direct-btn-w,
.direct-btn.direct-btn-w a {
    color: #fff;
}
.direct-btn.direct-btn-w::after {
    background: url(/img/icon/directIcon-w.svg);
}

/* 슬라이드 */
.slide_btn {
    position: absolute;
    top: calc(50% - 16px);
    left: auto;
    right: auto;
    width: 32px;
    height: 32px;
    z-index: 1;
}
.slide_btn.slide_prev_btn {
    left: 0;
    background: url(/img/icon/prevIcon.svg) no-repeat center/cover;
}
.slide_btn.slide_next_btn {
    right: 0;
    background: url(/img/icon/nextIcon.svg) no-repeat center/cover;
}
.slide_btn.slide_prevBg_btn {
    left: 0;
    background: url(/img/icon/prevIcon-bg.svg) no-repeat center/cover;
}
.slide_btn.slide_nextBg_btn {
    right: 0;
    background: url(/img/icon/nextIcon-bg.svg) no-repeat center/cover;
}
.s_pagination {}
