/* ---------- 헤더입니다 ---------- */
#header::before,
#header::after,
#header .inner::after {
    content: none;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 80;
    width: 100%;
    height: 70px;
    border-bottom: solid 1px var(--c-black-4);
    box-sizing: border-box;
    background-color: var(--c-black-6);
}
#header .inner,
#header .inner_1440 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: unset;
    width: 87.5%;
    height: 70px;
    padding: 0;
}
#header .inner_1440 {
    width: 75%;
}
#header .inner-left {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}
#header h1 {
    width: 150px;
    height: 23px;
    margin: 0;
}
#header h1 a {
    display: block;
}
#header h1 a img {
    display: block;
    width: 100%;
}
#header .category {
    width: 600px;
    margin: 0;
}
#header .category_depth {
    position: relative;
    width: 100%;
}
#header .category_depth > li,
#header .category_depth > .xans-record-{
    display: none;
}
#header .main-category-list {
    display: flex;
    width: 100%;
}
#header .main-category-list > li {
    text-align: center;
    width: calc(100% / 6);
}
#header .main-category-list > li > a {
    display: block;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 4.375rem;
}
#header .main-category-list > li > a:hover {
    color: var(--c-point);
}
#header .sub-list-box {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 99999999;
    transition: all .2s ease-in-out;
    height: 14rem;
    opacity: 0;
    visibility: hidden;
}
#header .category_depth:hover .sub-list-box {
    opacity: 1;
    visibility: visible;
}
#header .sub-category-list {
    width: calc(100% / 6);
    text-align: center;
    margin: 0 0 2rem;
}
#header .sub-category-list:nth-child(2) {
    display: none;
}
#header .sub-category-list:nth-child(3) {
    transform: translateX(100%);
}
#header .sub-category-list:last-child {
    border-right: none;
    transform: translateX(-300%);
}
#header .sub-menu > a {
    display: inline-flex;
    flex-direction: column;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--c-black-2);
    position: relative;
}
#header .sub-menu a:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: rgb(236, 22, 77, .4);
    transition: all .2s ease-in-out;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#header .sub-menu a:hover {
    color: var(--c-point);
}
#header .sub-menu a:hover::after {
    width: 100%;
}
#header .inner-right {
    display: flex;
    align-items: center;
    gap: .5rem;
}
#header .xans-layout-statelogon,
#header .xans-layout-statelogoff {
    display: flex;
    gap: .5rem;
    height: unset;
    line-height: unset;
}
#header .xans-layout-statelogon > a,
#header .xans-layout-statelogoff > a {
    display: block;
    padding: 0;
    background: none;
}

#header .header_bg {
    background-color: var(--c-black-6);
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
    height: 12rem;
    z-index: 98;
    transition: all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
#header .category:hover ~ .header_bg {
    opacity: 1;
    visibility: visible;
}

/* 유틸메뉴 */
#header .inner .util-menu,
#header .inner_1440 .util-menu {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
#searchBarForm .xans-element-.xans-layout.xans-layout-searchheader {
    float: none;
    margin: 0;
}
.search-btn {
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 4px 12px;
    border-radius: 50px;
    background: var(--c-black-6);
    border:  solid 1px var(--c-black-4);
    cursor: pointer;
}
#header .xans-layout-statelogoff,
#header .xans-layout-statelogon {
    display: flex;
    align-items: center;
    gap: 8px;
    float: none;
    height: 24px;
    line-height: normal;
}
#header .xans-layout-statelogoff > a,
#header .xans-layout-statelogon > a {
    position: relative;
    padding: 0;
    background: none;
}
#header .xans-layout-statelogoff .count,
#header .xans-layout-statelogon .count {
    position: absolute;
    top: -4px;
    left: unset;
    right: -8px;
    font-weight: 400;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: 0;
    background-color: #EC164D;
    color: var(--c-black-6);
}
#header .xans-layout-statelogoff .count span,
#header .xans-layout-statelogon .count span {
    padding: 0;
    height: auto;
    background: 0;
    font-size: 10px;
    line-height: 10px;
}
.search-rank-slider{
    width: 120px;
    padding-left: 8px;
}
.search-rank-slider li {
    font-size: 14px;
}
.search-rank-slider li b{
    padding-right: 4px;
}
.search-btn button{
    width: 20px;
    border: 0;
    background-color: transparent;
}
.search-btn button img{
    display: block;
    width: 100%;
}
.search-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .2);
}
.search-popup::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    z-index: 1;
    background-color: var(--c-black-6);
    border-radius: 0 0 20px 20px;
}
.search-popup.show{
    display: block;
}
.search-box{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 42%;
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    box-sizing: border-box;
    z-index: 2;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
}
.search-bar form {
    width: 100%;
}
.search-bar .xans-layout-searchheader fieldset{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 0;
    border-radius: 0;
    background-color: #ededed;
    padding: 4px 12px;
    border-radius: 50px;
    cursor: pointer;
}
.search-bar .xans-layout-searchheader fieldset #keyword{
    background-color: transparent;
    width: 100%;
    color: #333;
}
.popup_title {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 14px;
}
.sub_text {
    color: var(--c-black-2);
    font-size: var(--f-size-6);
    font-weight: var(--f-weight-n);
}
.current_date {
    display: flex;
    align-items: center;
    color: var(--c-black-4);
    font-size: var(--f-size-6);
    font-weight: var(--f-weight-n);
}
.current_date::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background: url(/img/icon/infoIcon.svg) no-repeat center / cover;
}
.recommended_swiper {
    width: 100%;
}
.recommended_swiper .swiper-slide {
    width: 320px;
}
.hot_keyword ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 118px;
    overflow: hidden;
    gap: 7px 24px;
}
.hot_keyword li {
    width: calc(50% - 12px);
    overflow: hidden;
}
.hot_keyword li a {
    display: flex;
    align-items: center;
    gap: 4px;
}
.hot_keyword .num {
    flex-shrink: 0;
    width: 16px;
    font-size: 12px;
    color: var(--c-black-3);
    font-weight: bold;
    line-height: 16px;
}
.hot_keyword li:nth-child(-n+3) .num {
    color: var(--c-point);
}
.hot_keyword .keyword {
    flex: 1;
    min-width: 0;
    font-size: 14px;
    line-height: 18px;
}
.hot_keyword .icon{
    display: inline-block;
    overflow: hidden;
    margin-left: auto;
    font-size: 10px;
    color: transparent;
    vertical-align: middle;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
}
.hot_keyword .icon::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: var(--c-black-4);
}

.hot_keyword .icon.up::before {
    width: 0;
    width: auto;
    height: 0;
    height: auto;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #EF3434;
    border-left: 4px solid transparent;
    background-color: transparent;
}

.hot_keyword .icon.down::before {
    width: 0;
    width: auto;
    height: 0;
    height: auto;
    border-top: 4px solid #0068EA;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    background-color: transparent;
}
.login-menu,
.logoff-menu{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    width: 224px;
    height: auto;
    border-radius: 10px;
    background: var(--c-black-6);
    z-index: 101;
    padding: 24px 20px;
    text-align: left;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.login-menu.show,
.logoff-menu.show{
    display: block;
}
.xans-layout-statelogon .logoff-menu .myinfo{
    color: #333;
}
.logoff-menu .myinfo::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--c-black-4);
    margin: 10px 0 14px;
}
.logoff-menu .myinfo strong{
    font-weight: 500;
}
.login-menu ul,
.logoff-menu ul{
    font-size: .875rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.login-menu ul li a,
.logoff-menu ul li a{
    color: #767676;
}
.login-menu ul li a:hover,
.logoff-menu ul li a:hover{
    color: #333;
}



/* ---------- 푸터입니다 ---------- */
#footer{
    border: 0;
    margin: 0;
    font-size: .875rem;
    background-color: #ededed;
    padding-bottom: 40px;
    overflow: hidden;
}
#footer strong{
    font-weight: 500;
}
#footer::before{
    content: none;
}
#footer .inner,
#footer .xans-layout-footer{
    width: 100%;
    height: auto;
}
.footer-content{
    width: 100%;
    border-bottom: solid 1px var(--c-black-4);
}
.footer-content:last-child{
    border: 0;
}
.footer-inner{
    width: 100%;
    max-width: 1920px;
    padding: 0 7.5rem;
    box-sizing: border-box;
    margin: 0 auto;
}
#footer .xans-layout-footer .utilMenu{
    display: flex;
    gap: 1.25rem;
}
#footer .xans-layout-footer .utilMenu li{
    float: none;
    padding: 0;
    background: none;
}
#footer .xans-layout-footer .address{
    display: flex;
    flex-direction: column;
    /* gap: 4px; */
    padding: 20px 0;
}
#footer .xans-layout-footer .address > span{
    padding: 0;
    display: flex;
    gap: 10px;
}
#footer .xans-layout-footer .address > span > span{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
}
#footer .xans-layout-footer .address > span > span::after{
    content: '';
    display: inline-block;
    height: 14px;
    width: 1px;
    background-color: var(--c-black-3);
}
#footer .xans-layout-footer .address > span .after-none::after,
#footer .xans-layout-footer .address > span > span:last-child::after{
    content: none;
}
#footer .xans-layout-footer .copyright{
    position: relative;
    font-size: .875rem;
    line-height: 20px;
    height: auto;
    color: var(--c-black-3);
    padding-bottom: 40px;
}



/* ---------- 퀵메뉴입니다 ---------- */
#quick{
    position: fixed;
    top: unset !important;
    bottom: 40px !important;
    right: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-width: 68px;
}
.pageTop{
    background-color: var(--c-black-6);
    border: solid 1px var(--c-black-4);
    border-radius: 50%;
    padding: 14px;
}
.qTop{
    border: solid 1px var(--c-black-4);
    background-color: var(--c-black-6);
    padding: 20px 0;
    border-radius: 100px;
}
#quick .tell{
    padding-bottom: 10px;
}
#quick .qTop > div{
    margin: 0 10px;
}
#quick .qTop > div > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-top: 12px;
}
#quick .qbtn-img{
    position: relative;
}
#quick .qTop > div > a img{
    width: 32px;
    display: block;
}
.qbtn-name{
    font-size: 12px;
    font-weight: 400;
    color: #121212;
}
.qbtn:hover .qbtn-name{
    font-weight: 500;
    color: #EC164D;
}
#quick .count{
    position: absolute;
    top: -4px;
    right: -8px;
    font-size: 12px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #EC164D;
    color: var(--c-black-6);
}
#quick .xans-layout-productrecent{
    border: 0;
    background: 0;
    border-top: solid 1px #ededed;
    padding-top: 10px;
}
#quick .xans-layout-productrecent li span{
    font-size: 12px;
}
#quick h2.qbtn-name {
    margin-bottom: 8px;
}
.productrecent{
    position: relative;

}
#quick .recent_product_img {
    display: block;
    width: 76px;
    height: 76px;
    background-color: var(--c-black-5);
    border-radius: 2px;
}
#quick .slide_btn{
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;
}
#quick .productrecent:hover .slide_btn {
    visibility: visible;
    opacity: 1;
}
#quick .slide_btn.slide_prevBg_btn {
    left: -8px;
}
#quick .slide_btn.slide_nextBg_btn {
    right: -8px;
}
.slick-dots{
    display: flex;
    justify-content: center;
    gap: 4px;
}
.slick-dots li.slick-active .custom-dot {
    content: url('/img/icon/dotOn.svg');
}
.ec-base-product {
    display: flex;
    flex-direction: column;
    gap: 40px;
}